{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "./includes/banner.html" %}
	
  	<div class="grid-row">
	    <div class="column-two-thirds">

	    	<a class="link-back" href="{{previous_url}}">Back</a>

	    	<form class="form" action="{{next_url}}" method="post">

				<h1 class="heading-xlarge">
					Claim for advocate fees
				</h1>

				<h2 class="heading-large">
					Case details
				</h2>


				<div class="form-section">
					<div class="form-group form-buttons">
						<input type="submit" class="button" value="Save and continue">
						<input type="submit" class="button button-tertiary" value="Save as draft">
						<a href="{{previous_url}}">Cancel</a>
					</div>
				</div>

			</form>

			{% include "./includes/help.html" %}

	    </div>
  	</div>
</main>

{% endblock %}