{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

		<h1 class="heading-xlarge">
			Claim for advocate fees
		</h1>

		<h2 class="heading-large">
			Cost summary
		</h2>


		<div class="form-section">
			<div class="form-group fx-form-buttons">
				<input type="submit" class="button" value="Continue and certify">
				<input type="submit" class="button button-secondary" value="Save as draft">
				<a href="#noop" class="link-delete">Delete this claim</a>
			</div>
		</div>


		<h2 class="heading-large">
			Claim summary
		</h2>


		<div class="form-section">
			<div class="form-group fx-form-buttons">
				<input type="submit" class="button" value="Continue and certify">
				<input type="submit" class="button button-secondary" value="Save as draft">
				<a href="#noop" class="link-delete">Delete this claim</a>
			</div>
		</div>

		{% include "./includes/help.html" %}

    </div>
  </div>
</main>

{% endblock %}