{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "./includes/banner.html" %}
	
  	<div class="grid-row">
	    <div class="column-two-thirds">

	    	{% include "./includes/navigation.html" %}

	    	<form class="form" action="{{new_claim_url}}" method="post">

				<h1 class="heading-xlarge">
					Claim for advocate fees
				</h1>

				<h2 class="heading-large">
					What happens next?
				</h2>

				<p>
					A case worker will assess your claim. You will be notified by email when your claim has been processed. You can also check the status of your claim at any time in the <a href="">Your claims</a> view.
				</p>

				<div class="form-section">
					<div class="form-group fx-form-buttons">
						<input type="submit" class="button" value="Submit a new claim">
						<input type="submit" class="button button-secondary" value="View your claims">
					</div>
				</div>

			</form>

	    </div>
  	</div>
</main>

{% endblock %}