{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main class="elements-index" id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Provider</span>
				Prototypes
			</h1>

			<p class="lede">
			Something something something
			</p>

			<ul>
				<li>
					<a href="./version-0/">Version 0</a>
					<ul class="list list-bullet">
						<li>Improved design</li>
						<li>Existing flow</li>
					</ul>
				</li>
				<li>
					<a href="./version-1/">Version 1</a>
					<ul class="list list-bullet">
						<li>Splitting pages</li>
					</ul>
				</li>
				<li>
					<!-- <a href="./version-2/"> -->Version 2<!-- </a> -->
					<ul class="list list-bullet">
						<li>MAAT data</li>
						<li>Travel expenses <em>basket</em></li>
					</ul>
				</li>
				<li>
					<!-- <a href="./version-3/"> -->Version 3<!-- </a> -->
					<ul class="list list-bullet">
						<li>DCS supporting evidence</li>
						<li>Provider registration</li>
					</ul>
				</li>
				<li>
					<a href="./version-4/">Version 4</a> – <span class="bold">Fee reform</span>
					<ul class="list list-bullet">
						<li>Advocate's interim fees bill type</li>
						<li>Offence category selection</li>
						<li>Move advocate category to fee page</li>
						<li>New miscellaneous fees</li>
					</ul>
				</li>
				<li>
					<a href="./version-5/">Version 5</a>
					<ul class="list list-bullet">
						<li>Claim list – Search, filters and sorting</li>
						<li>Claim summary (pre-claim submission) – Change details</li>
						<!-- <li>Claim details – Splitting details and messages</li> -->
					</ul>
				</li>
				<li>
					<a href="./version-6/">Version 6</a>
					<ul class="list list-bullet">
						<li>Travel expense entry (v1)</li>
						<li>Litigator postcode entry</li>
					</ul>
				</li>
				<li>
					<a href="./version-7/">Version 7</a>
					<ul class="list list-bullet">
						<li>Travel expense entry (v2)</li>
						<li>Litigator postcode entry</li>
						<li>Fix: distance calculation</li>
					</ul>
				</li>
				<li>
					<a href="./version-8/">Version 8</a>
					<ul class="list list-bullet">
						<li>Offence category selection accessibility updates</li>
					</ul>
				</li>
				<li>
					<a href="./version-9/">Version 9</a>
					<ul class="list list-bullet">
						<li>Miscellaneous claims</li>
					</ul>
				</li>
				<li>
					<!-- <a href="./version-10/"> -->Version 10<!-- </a> -->
					<ul class="list list-bullet">
						<li>Travel expense entry (v3)</li>
						<li>Multiple forms vs. form and list</li>
					</ul>
				</li>
				<li>
					<!-- <a href="./version-11/"> -->Version 11<!-- </a> -->
					<ul class="list list-bullet">
						<li>Task list</li>
					</ul>
				</li>
				<li>
					<!-- <a href="./version-12/"> -->Version 12<!-- </a> -->
					<ul class="list list-bullet">
						<li>Claim list – Search, filters and sorting</li>
						<li>Claim summary (pre-claim submission) – Change details</li>
						<li>Claim details – Splitting details and messages</li>
					</ul>
				</li>
			</ul>

		</div>
	</div>

</main>

{% endblock %}