{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "./includes/banner.html" %}

	<!-- {% include "./includes/navigation.html" %} -->

  	<div class="grid-row">
	    <div class="column-full">

	    	<a class="link-back" href="{{previous_url}}">Back</a>

	    	<form class="form" action="{{next_url}}" method="post">

				<h1 class="heading-xlarge">
					Claim for litigator fees
				</h1>

				<h2 class="heading-large">
					Case details
				</h2>

				<div class="form-section">
					<div class="form-group" data-required="true" data-error="Choose a supplier number">

						<label class="form-label-bold" for="radio-group">
							Supplier number
							<span class="form-hint">Please choose a relevant supplier</span>
						</label>

						<div class="multiple-choice">
							<input id="radio-1" type="radio" name="supplier_number" value="8A222Z" {{ checked('supplier_number','8A222Z') }}>
							<label for="radio-1">8A222Z</label>
						</div>
						<div class="multiple-choice">
							<input id="radio-2" type="radio" name="supplier_number" value="9B333Y" {{ checked('supplier_number','9B333Y') }}>
							<label for="radio-2">9B333Y</label>
						</div>

					</div>

					<div class="form-group">
						<details>
							<summary>
								<span class="summary">Help with adding more suppliers</span>
							</summary>
							<div class="panel panel-border-narrow">
								<p>
								Lorem ipsum dolor sit emet
								</p>
							</div>
						</details>
					</div>

					<div class="form-group" data-required="true" data-error="Add a reference number">
						<label class="form-label-bold" for="reference-number">
						Reference number
						<span class="form-hint">
							Your internal reference number for this claim
						</span>
						</label>
						<input class="form-control form-control-1-3" id="reference-number" type="text" name="reference_number" value="{{ data['reference_number']}}">
					</div>

					<div class="form-group" data-required="true" data-error="Choose a case type">

						<label class="form-label-bold" for="radio-group">
							Case type
							<!-- <span class="form-hint">Please choose a relevant case type</span> -->
						</label>

						<select id="select-case_type" name="case_type" class="form-control form-control-1-3">
							<option></option>
							<option value="appeal_against_conviction">Appeal Against Conviction</option>
							<option value="appeal_against_sentence">Appeal Against Sentence</option>
							<option value="breach_of_crown_court_order">Breach of Crown Court Order</option>
							<option value="committal">Committal</option>
							<option value="committal_for_sentence">Committal for Sentence</option>
							<option value="contempt">Contempt</option>
							<option value="cracked_before_retrial">Cracked Before Retrial</option>
							<option value="cracked_trial">Cracked Trial</option>
							<option value="discontinuance">Discontinuance</option>
							<option value="elected_case_not_proceeded">Elected Case Not Proceeded</option>
							<option value="guilty_plea">Guilty Plea</option>
							<option value="hearing_subsequent_to_sentence">Hearing Subsequent to Sentence</option>
							<option value="retrial">Retrial</option>
							<option value="trial">Trial</option>
						</select>


						<!-- <div class="grid-row">

							<div class="column-one-half">

								<div class="multiple-choice">
									<input id="radio-appeal_against_conviction" type="radio" name="case_type" value="appeal_against_conviction" {{ checked('case_type','appeal_against_conviction') }}>
									<label for="radio-appeal_against_conviction">Appeal Against Conviction</label>
								</div>
								<div class="multiple-choice">
									<input id="radio-appeal_against_sentence" type="radio" name="case_type" value="appeal_against_sentence" {{ checked('case_type','appeal_against_sentence') }}>
									<label for="radio-appeal_against_sentence">Appeal Against Sentence</label>
								</div>
								<div class="multiple-choice">
									<input id="radio-breach_of_crown_court_order" type="radio" name="case_type" value="breach_of_crown_court_order" {{ checked('case_type','breach_of_crown_court_order') }}>
									<label for="radio-breach_of_crown_court_order">Breach of Crown Court Order</label>
								</div>
								<div class="multiple-choice">
									<input id="radio-committal" type="radio" name="case_type" value="committal" {{ checked('case_type','committal') }}>
									<label for="radio-committal">Committal</label>
								</div>
								<div class="multiple-choice">
									<input id="radio-committal_for_sentence" type="radio" name="case_type" value="committal_for_sentence" {{ checked('case_type','committal_for_sentence') }}>
									<label for="radio-committal_for_sentence">Committal for Sentence</label>
								</div>
								<div class="multiple-choice">
									<input id="radio-contempt" type="radio" name="case_type" value="contempt" {{ checked('case_type','contempt') }}>
									<label for="radio-contempt">Contempt</label>
								</div>
								<div class="multiple-choice">
									<input id="radio-cracked_before_retrial" type="radio" name="case_type" value="cracked_before_retrial" {{ checked('case_type','cracked_before_retrial') }}>
									<label for="radio-cracked_before_retrial">Cracked Before Retrial</label>
								</div>
							</div>

							<div class="column-one-half">

								<div class="multiple-choice">
									<input id="radio-cracked_trial" type="radio" name="case_type" value="cracked_trial" {{ checked('case_type','cracked_trial') }}>
									<label for="radio-cracked_trial">Cracked Trial</label>
								</div>
								<div class="multiple-choice">
									<input id="radio-discontinuance" type="radio" name="case_type" value="discontinuance" {{ checked('case_type','discontinuance') }}>
									<label for="radio-discontinuance">Discontinuance</label>
								</div>
								<div class="multiple-choice">
									<input id="radio-elected_case_not_proceeded" type="radio" name="case_type" value="elected_case_not_proceeded" {{ checked('case_type','elected_case_not_proceeded') }}>
									<label for="radio-elected_case_not_proceeded">Elected Case Not Proceeded</label>
								</div>
								<div class="multiple-choice">
									<input id="radio-guilty_plea" type="radio" name="case_type" value="guilty_plea" {{ checked('case_type','guilty_plea') }}>
									<label for="radio-guilty_plea">Guilty Plea</label>
								</div>
								<div class="multiple-choice">
									<input id="radio-hearing_subsequent_to_sentence" type="radio" name="case_type" value="hearing_subsequent_to_sentence" {{ checked('case_type','hearing_subsequent_to_sentence') }}>
									<label for="radio-hearing_subsequent_to_sentence">Hearing Subsequent to Sentence</label>
								</div>
								<div class="multiple-choice">
									<input id="radio-retrial" type="radio" name="case_type" value="retrial" {{ checked('case_type','retrial') }}>
									<label for="radio-retrial">Retrial</label>
								</div>
								<div class="multiple-choice">
									<input id="radio-trial" type="radio" name="case_type" value="trial" {{ checked('case_type','trial') }}>
									<label for="radio-trial">Trial</label>
								</div>

							</div>

						</div> -->

					</div>

					<div class="grid-row">

						<div class="column-one-half">

							<div class="form-group" data-required="true" data-error="Add a court">
								<label class="form-label-bold" for="court">
								Court
								<span class="form-hint">
									For example Cardiff
								</span>
								</label>
								<input class="form-control form-control-2-3" id="court" type="text" name="court" value="{{ data['court']}}">
							</div>

						</div>

						<div class="column-one-half">

							<div class="form-group" data-required="true" data-error="Add a case number">
								<label class="form-label-bold" for="case-number">
								Case number
								<span class="form-hint">
									For example T20170101
								</span>
								</label>
								<input class="form-control form-control-2-3" id="case-number" type="text" name="case_number" value="{{ data['case_number']}}">
							</div>

						</div>

					</div>

					<div class="grid-row">

						<div class="column-one-half">

							<div class="form-group">
								<label class="form-label-bold" for="transfer-court">
								Transfer court
								<span class="form-hint">
									For example Cardiff
								</span>
								</label>
								<input class="form-control form-control-2-3" id="transfer-court" type="text" name="transfer_court" value="{{ data['transfer_court']}}">
							</div>

						</div>

						<div class="column-one-half">

							<div class="form-group">
								<label class="form-label-bold" for="transfer-case-number">
								Transfer case number
								<span class="form-hint">
									For example T20170101
								</span>
								</label>
								<input class="form-control form-control-2-3" id="transfer-case-number" type="text" name="transfer_case_number" value="{{ data['transfer_case_number']}}">
							</div>

						</div>

					</div>

				</div>


				<div class="form-section">
					<div class="form-group form-buttons">
						<input type="submit" class="button" value="Save and continue">
						<input type="submit" class="button button-tertiary" value="Save as draft">
						<a href="{{home_url}}">Cancel</a>
					</div>
				</div>

			</form>

			{% include "./includes/help.html" %}

	    </div>
  	</div>
</main>

{% endblock %}