{% if pagination.page_count > 1 -%}
<ul class="pagination">
    <li class="pagination__item">
        {% if pagination.current_page > 1 -%}
        <a class="pagination__link" aria-label="First page" href="{{links.list}}?sort={{pagination.sort_by}}&amp;order={{pagination.sort_order}}&amp;limit={{pagination.limit}}&amp;page=1" rel="first">
            <!-- <span aria-hidden="true" role="presentation">&laquo; </span> -->
            First
        </a>
        {% else %}
        <span class="pagination__link">First</span>
        {%- endif %}
    </li>
    <li class="pagination__item">
        {% if pagination.current_page > 1 -%}
        <a class="pagination__link" aria-label="Previous page" href="{{links.list}}?sort={{pagination.sort_by}}&amp;order={{pagination.sort_order}}&amp;limit={{pagination.limit}}&amp;page={{pagination.prev_page}}" rel="prev">
            <!-- <span aria-hidden="true" role="presentation">&laquo; </span> -->
            Previous
        </a>
        {% else %}
        <span class="pagination__link">Previous</span>
        {%- endif %}
    </li>

    {% for i in range(pagination.start_page, (pagination.end_page+1)) -%}
        <li class="pagination__item"><a class="pagination__link {% if pagination.current_page == i %}current{%- endif %}" aria-label="Page {{i}}" href="{{links.list}}?sort={{pagination.sort_by}}&amp;order={{pagination.sort_order}}&amp;limit={{pagination.limit}}&amp;page={{i}}">{{i}}</a></li>
    {%- endfor %}

    <li class="pagination__item">
        {% if pagination.current_page < pagination.page_count -%}
        <a class="pagination__link" aria-label="Next page" href="{{links.list}}?sort={{pagination.sort_by}}&amp;order={{pagination.sort_order}}&amp;limit={{pagination.limit}}&amp;page={{pagination.next_page}}" rel="next">
            Next
            <!-- <span aria-hidden="true" role="presentation">&raquo; </span> -->
        </a>
        {% else %}
        <span class="pagination__link">Next</span>
        {%- endif %}
    </li>
    <li class="pagination__item">
        {% if pagination.current_page < pagination.page_count -%}
        <a class="pagination__link" aria-label="Last page" href="{{links.list}}?sort={{pagination.sort_by}}&amp;order={{pagination.sort_order}}&amp;limit={{pagination.limit}}&amp;page={{pagination.page_count}}" rel="last">
            Last
            <!-- <span aria-hidden="true" role="presentation">&raquo; </span> -->
        </a>
        {% else %}
        <span class="pagination__link">Last</span>
        {%- endif %}
    </li>
</ul>
{%- endif %}