<h3 class="heading-medium" data-item-number="1">
	Fixed fee 1
	<a href="#noop" class="link-remove">
		Remove
		<span class="visually-hidden">&nbsp;this fee</span>
	</a>
</h3>

<div class="form-group">
	<fieldset>
		<legend class="form-label-bold">
			Type of fee
		</legend>

		<select class="form-control fx-select-fixed-fee-1-type" name="fixed_fee_1_type" id="fixed-fee-1-type">
			<option value=""></option>

			{% for fee in fixed_fees %}
				<option data-case-numbers="{{fee.attributes.additional_case_numbers}}" value="{{fee.key}}" {% if data['fixed_fee_1_type'] == fee.key %}selected="selected"{% endif %}>{{fee.name}}</option>
			{%- endfor %}

		</select>

	</fieldset>
</div>

<div class="form-group">
    <label class="form-label-bold" for="fixed-fee-1-quantity">
        Quantity
    </label>
    <input class="form-control form-control-1-8" id="fixed-fee-1-quantity" type="text" name="fixed_fee_1_quantity" value="{{data['fixed_fee_1_quantity']}}" autocomplete="off" autocapitalize="off">
</div>

 <div class="form-group" data-item-number="1">
    <fieldset>
        <legend class="form-label-bold width-half">
            Date 1
            <!-- TODO: if count >1 add a remove link -->
            <!-- <a href="#noop" class="link-remove">
                Remove
                <span class="visually-hidden">&nbsp;this fee</span>
            </a> -->
            <span class="form-hint">
                For example, 31 3 2017
            </span>
        </legend>

		<div class="form-date">
		    <div class="form-group form-group-day">
		        <label class="form-label" for="fixed-fee-1-date-1-day">
		            Day
		        </label>
		        <input class="form-control" id="fixed-fee-1-date-1-day" max="31" min="1" name="fixed_fee_1_date_1_day" pattern="[0-9]*" type="number" value="{{data['fixed_fee_1_date_1_day']}}">
		    </div>
		    <div class="form-group form-group-month">
		        <label class="form-label" for="fixed-fee-1-date-1-month">
		            Month
		        </label>
		        <input class="form-control" id="fixed-fee-1-date-1-month" max="12" min="1" name="fixed_fee_1_date_1_month" pattern="[0-9]*" type="number" value="{{data['fixed_fee_1_date_1_month']}}">
		    </div>
		    <div class="form-group form-group-year">
		        <label class="form-label" for="fixed-fee-1-date-1-year">
		            Year
		        </label>
		        <input class="form-control" id="fixed-fee-1-date-1-year" max="2019" min="1900" name="fixed_fee_1_date_1_year" pattern="[0-9]*" type="number" value="{{data['fixed_fee_1_date_1_year']}}">
		    </div>
		</div>

	</fieldset>
</div>

<div class="form-group">
    <a href="#noop">
        Add another date
    </a>
</div>

<div class="form-group fx-additional-case-numbers-1">
    <label class="form-label-bold" for="fixed-fee-1-additional-case-numbers">
        Additional case numbers
        <span class="form-hint">Separate with commas</span>
    </label>
    <input class="form-control" id="fixed-fee-1-additional-case-numbers" type="text" name="fixed_fee_1_additional_case_numbers" value="{{data['fixed_fee_1_additional_case_numbers']}}" autocomplete="off" autocapitalize="off">
</div>

<div class="form-group">
    <label class="form-label-bold" for="fixed-fee-1-net-amount">
        Net amount
    </label>
    <span class="form-input-denote">
        &pound;
    </span>
    <input class="form-control form-control-1-4 form-input-denote__input" id="fixed-fee-1-net-amount" name="fixed_fee_1_net_amount" type="number" max="999999.99" min="0.00" step="0.01" value="{{data['fixed_fee_1_net_amount']}}">
</div>