{% extends "../../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    	<a class="link-back" href="../">Back</a>

	    <h1 class="heading-xlarge">
	      Multiple items
	    </h1>

      <h2 class="heading-medium">Versions</h2>
      <ul class="list list-bullet">
        <li>
          <a href="./version-0/">Version 0</a><br>
          Inline
        </li>
        <li>
          <a href="./version-1/">Version 1</a><br>
          Stacked
        </li>
        <li>
          <a href="./version-2/">Version 2</a><br>
          Nested
        </li>
        <li>
          <a href="./version-3/">Version 3</a><br>
          Defendant form example
        </li>
        <li>
          <a href="./version-4/">Version 4</a><br>
          AGFS miscellaneous fees form example
        </li>
        <li>
          <a href="./version-5/">Version 5</a><br>
          LGFS miscellaneous fees form example
        </li>
       <!--  <li>
          <a href="./version-4/">Version 4</a><br>
          Disbursements form example
        </li> -->
        <!-- <li>
          <a href="./version-5/">Version 5</a><br>
          Travel expenses form example
        </li> -->
      </ul>

    </div>
  </div>
</main>

{% endblock %}