{% if data['basic_fee_quantity'].length -%}
<table class="summary">
	<tbody>
		<tr>
			<th class="bold" scope="row">Basic fees</th>
			<td>
				<table class="nested-summary">
					<tbody>
						<tr>
							<th class="bold" scope="row">Quantity</th>
							<td>{{data['basic_fee_quantity']}}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Rate</th>
							<td>{{data['basic_fee_rate']}}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Net amount</th>
							<td>&pound;{{data['basic_fee_quantity'] * data['basic_fee_rate']}}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr class="bold" scope="row">
			<th>Daily attendance fees (3 to 40 days)</th>
			<td>
				<table class="nested-summary">
					<tbody>
						<tr>
							<th class="bold" scope="row">Quantity</th>
							<td>{% if data['daily_attendance_fee_1_quantity'].length %}{{data['daily_attendance_fee_1_quantity']}}{% else %}0{%- endif %}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Dates</th>
							<td>No dates provided</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Rate</th>
							<td>&pound;{% if data['daily_attendance_fee_1_rate'].length %}{{data['daily_attendance_fee_1_rate']}}{% else %}0.00{%- endif %}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Net amount</th>
							<td>&pound;{{data['daily_attendance_fee_1_quantity'] * data['daily_attendance_fee_1_rate']}}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr class="bold" scope="row">
			<th>Daily attendance fees (41 to 50 days)</th>
			<td>
				<table class="nested-summary">
					<tbody>
						<tr>
							<th class="bold" scope="row">Quantity</th>
							<td>{% if data['daily_attendance_fee_2_quantity'].length %}{{data['daily_attendance_fee_2_quantity']}}{% else %}0{%- endif %}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Dates</th>
							<td>No dates provided</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Rate</th>
							<td>&pound;{% if data['daily_attendance_fee_2_rate'].length %}{{data['daily_attendance_fee_2_rate']}}{% else %}0.00{%- endif %}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Net amount</th>
							<td>&pound;{{data['daily_attendance_fee_2_quantity'] * data['daily_attendance_fee_2_rate']}}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr class="bold" scope="row">
			<th>Daily attendance fees (over 50 days)</th>
			<td>
				<table class="nested-summary">
					<tbody>
						<tr>
							<th class="bold" scope="row">Quantity</th>
							<td>{% if data['daily_attendance_fee_3_quantity'].length %}{{data['daily_attendance_fee_3_quantity']}}{% else %}0{%- endif %}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Dates</th>
							<td>No dates provided</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Rate</th>
							<td>&pound;{% if data['daily_attendance_fee_3_rate'].length %}{{data['daily_attendance_fee_3_rate']}}{% else %}0.00{%- endif %}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Net amount</th>
							<td>&pound;{{data['daily_attendance_fee_3_quantity'] * data['daily_attendance_fee_3_rate']}}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr class="bold" scope="row">
			<th>Standard appearance fees</th>
			<td>
				<table class="nested-summary">
					<tbody>
						<tr>
							<th class="bold" scope="row">Quantity</th>
							<td>{% if data['standard_appearance_fee_quantity'].length %}{{data['standard_appearance_fee_quantity']}}{% else %}0{%- endif %}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Dates</th>
							<td>No dates provided</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Rate</th>
							<td>&pound;{% if data['standard_appearance_fee_rate'].length %}{{data['standard_appearance_fee_rate']}}{% else %}0.00{%- endif %}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Net amount</th>
							<td>&pound;{{data['standard_appearance_fee_quantity'] * data['standard_appearance_fee_rate']}}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr class="bold" scope="row">
			<th>Plea and trial preparation hearing</th>
			<td>
				<table class="nested-summary">
					<tbody>
						<tr>
							<th class="bold" scope="row">Quantity</th>
							<td>{% if data['plea_trial_preparation_hearing_fee_quantity'].length %}{{data['plea_trial_preparation_hearing_fee_quantity']}}{% else %}0{%- endif %}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Rate</th>
							<td>&pound;{% if data['plea_trial_preparation_hearing_fee_rate'].length %}{{data['plea_trial_preparation_hearing_fee_rate']}}{% else %}0.00{%- endif %}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Net amount</th>
							<td>&pound;{{data['plea_trial_preparation_hearing_fee_quantity'] * data['plea_trial_preparation_hearing_fee_rate']}}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr class="bold" scope="row">
			<th>Conferences and views</th>
			<td>
				<table class="nested-summary">
					<tbody>
						<tr>
							<th class="bold" scope="row">Quantity</th>
							<td>{% if data['conferences_views_quantity'].length %}{{data['conferences_views_quantity']}}{% else %}0{%- endif %}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Rate</th>
							<td>&pound;{% if data['conferences_views_rate'].length %}{{data['conferences_views_rate']}}{% else %}0.00{%- endif %}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Net amount</th>
							<td>&pound;{{data['conferences_views_quantity'] * data['conferences_views_rate']}}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr class="bold" scope="row">
			<th>Number of defendants uplift</th>
			<td>
				<table class="nested-summary">
					<tbody>
						<tr>
							<th class="bold" scope="row">Quantity</th>
							<td>{% if data['number_defendants_uplift_quantity'].length %}{{data['number_defendants_uplift_quantity']}}{% else %}0{%- endif %}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Rate</th>
							<td>&pound;{% if data['number_defendants_uplift_rate'].length %}{{data['number_defendants_uplift_rate']}}{% else %}0.00{%- endif %}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Net amount</th>
							<td>&pound;{{data['number_defendants_uplift_quantity'] * data['number_defendants_uplift_rate']}}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr class="bold" scope="row">
			<th>Number of cases uplift</th>
			<td>
				<table class="nested-summary">
					<tbody>
						<tr>
							<th class="bold" scope="row">Quantity</th>
							<td>{% if data['number_cases_uplift_quantity'].length %}{{data['number_cases_uplift_quantity']}}{% else %}0{%- endif %}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Rate</th>
							<td>&pound;{% if data['number_cases_uplift_rate'].length %}{{data['number_cases_uplift_rate']}}{% else %}0.00{%- endif %}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Net amount</th>
							<td>&pound;{{data['number_cases_uplift_quantity'] * data['number_cases_uplift_rate']}}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr class="bold" scope="row">
			<th>Witnesses</th>
			<td>
				<table class="nested-summary">
					<tbody>
						<tr>
							<th class="bold" scope="row">Quantity</th>
							<td>{% if data['witnesses_quantity'].length %}{{data['witnesses_quantity']}}{% else %}0{%- endif %}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Net amount</th>
							<td>&pound;{% if data['witnesses_net_amount'].length %}{{data['witnesses_net_amount']}}{% else %}0.00{%- endif %}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr class="bold" scope="row">
			<th>Pages of prosecution evidence</th>
			<td>
				<table class="nested-summary">
					<tbody>
						<tr>
							<th class="bold" scope="row">Quantity</th>
							<td>{% if data['evidence_quantity'].length %}{{data['evidence_quantity']}}{% else %}0{%- endif %}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Net amount</th>
							<td>&pound;{% if data['evidence_net_amount'].length %}{{data['evidence_net_amount']}}{% else %}0.00{%- endif %}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
{% else %}
<p>There are no graduated fees for this claim.</p>
{%- endif %}