<div class="form-section">

	<h2 id="section-heading" class="heading-large">
		Miscellaneous fees
	</h2>

	<div class="form-group">
		<fieldset>
			<legend class="form-label-bold">
				Fee type
				<!-- <span class="form-hint"></span> -->
			</legend>

			<select id="miscellaneous-fee-1" name="miscellaneous_fee" class="form-control">
				<option value="">&nbsp;</option>

				{% for fee in fees -%}
					<option value="{{fee.key}}"{% if fee.abbreviations.length -%} data-abbreviations="{{fee.abbreviations}}"{%- endif %}{% if fee.other_names.length -%} data-other-names="{{fee.other_names}}"{%- endif %}{% if data['miscellaneous_fee'] == fee.key -%} selected="selected"{%- endif %}>{{fee.name}}</option>
				{%- endfor %}

			</select>

		</fieldset>
	</div>

	<div class="form-group">
	    <label class="form-label-bold" for="miscellaneous-fee-net-amount">
	        Net amount
	    </label>
	    <span class="form-input-denote">
	        £
	    </span>
	    <input class="form-control form-control-1-4 form-input-denote__input" id="miscellaneous-fee-net-amount" name="miscellaneous_fee_net_amount" type="number" max="999999.99" min="0.00" step="0.01" value="{{data['miscellaneous_fee_net_amount']}}">
	</div>

	<hr>

	<a href="#noop" class="button button-secondary" role="button">Add another fee</a>

</div>