{% extends "../../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    	<a class="link-back" href="../">Back</a>

	    <h1 class="heading-xlarge">
	      Data
	    </h1>

      <p class="lede">Structuring a form to consume and output complex data</p>

      <h2 class="heading-medium">Versions</h2>
      <ul class="list list-bullet">
        <li>
          <a href="./version-0/">Version 0</a><br>
          Output simple data
        </li>
        <li>
          <a href="./version-1/">Version 1</a><br>
          Output a <span class="bold">complex</span> data structure
        </li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}