<div class="form-group">
    <fieldset>
        <div class="form-group">
        	<span class="bold">
                Case type
            </span>
            <p>{{data['case_type']|replace('_',' ')|capitalize}}</p>
        </div>
        <div class="form-group">
        	<span class="bold">
                Offence
            </span>
            <ul class="list list-bullet">
            	<li><span class="bold">Class</span>: {{ offence.class_label }}</li>
            	{% if offence.band_label.length -%}<li><span class="bold">Band</span>: {{ offence.band_label }}</li>{%- endif %}
            	<li><span class="bold">Category</span>: {{ offence.category_label }}</li>
            </ul>
        </div>

        <div class="form-group">
            <fieldset>
                <legend class="form-label-bold">
                    First day of trial
                    <span class="form-hint">
                        For example, 31 3 2017
                    </span>
                </legend>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="basic-fee-date-day">
                            Day
                        </label>
                        <input class="form-control" id="basic-fee-date-day" max="31" min="1" name="basic_fee_date_day" pattern="[0-9]*" type="number" value="{% if data['first_day_of_trial_day'].length %}{{data['first_day_of_trial_day']}}{% else %}{{data['basic_fee_date_day']}}{% endif %}">
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="basic-fee-date-month">
                            Month
                        </label>
                        <input class="form-control" id="basic-fee-date-month" max="12" min="1" name="basic_fee_date_month" pattern="[0-9]*" type="number" value="{% if data['first_day_of_trial_month'].length %}{{data['first_day_of_trial_month']}}{% else %}{{data['basic_fee_date_month']}}{% endif %}">
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="basic-fee-date-year">
                            Year
                        </label>
                        <input class="form-control" id="basic-fee-date-year" max="2019" min="1900" name="basic_fee_date_year" pattern="[0-9]*" type="number" value="{% if data['first_day_of_trial_year'].length %}{{data['first_day_of_trial_year']}}{% else %}{{data['basic_fee_date_year']}}{% endif %}">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="form-group">
            <a href="#noop">
                Add another date
            </a>
        </div>

        <div class="form-group">
            <label class="form-label-bold" for="witnesses-net-amount">
                Net amount
            </label>
            <span class="form-input-denote">
                &pound;
            </span>
            <input class="form-control form-control-1-4 form-input-denote__input" id="witnesses-net-amount" name="witnesses_net_amount" type="number" max="999999.99" min="0.00" step="0.00" value="{{data['witnesses_net_amount']}}">
        </div>
        <details>
            <summary>
                <span class="summary">Help with basic fees</span>
            </summary>
            <div class="panel panel-border-narrow">
                <p>Basic fees include:</p>
                {% if data['fee_scheme_version'] == 10 -%}
                <ul class="list list-bullet">
                    <li>1 daily attendance fee</li>
                </ul>
                {% else %}
                <ul class="list list-bullet">
                    <li>2 daily attendance fees</li>
                    <li>4 standard appearance fees</li>
                    <li>1 plea and trial preparation hearing (<abbr title="plea and trial preparation hearing">PTPH</abbr>)</li>
                    <li>3 conferences and views</li>
                </ul>
                {%- endif %}
            </div>
        </details>
    </fieldset>
</div>