{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "../includes/_banner.html" %}

	<div class="grid-row">
	    <div class="column-full">

	    	<a class="link-back" href="{{links.previous}}">Back</a>

	    	<form class="form" method="post">

				<h1 class="heading-xlarge">
					Claim for litigator fees
				</h1>

				<div class="grid-row">

					<div class="column-three-quarters">


						<h2 id="section-heading" class="heading-large">
							Check your claim
						</h2>

						<p>Check all the information below is correct before submitting your claim.</p>

						{% if data['bill_type'] == "litigator_transfer" %}
						<div class="form-section">
							<h3 class="heading-medium">
								Transfer details
								<a href="#noop" class="link-change">
									Change
									<span class="visually-hidden">&nbsp;transfer details</span>
								</a>
							</h3>

							{% include "./includes/_check_claim_transfer_details.html" %}

						</div>
						{%- endif %}

						<div class="form-section">
							<h3 class="heading-medium">
								Case details
								<a href="#noop" class="link-change">
									Change
									<span class="visually-hidden">&nbsp;case details</span>
								</a>
							</h3>

							{% include "./includes/_check_claim_case_details.html" %}

						</div>


						{% if (data['bill_type'] == 'litigator_final' and data['fee_type'] == "graduated") or data['bill_type'] == 'litigator_interim' -%}
							<div class="form-section">
								<h3 class="heading-medium">
									Offence details
									<a href="#noop" class="link-change">
										Change
										<span class="visually-hidden">&nbsp;offence details</span>
									</a>
								</h3>

								{% include "../includes/_check_claim_offence_details.html" %}

							</div>
						{%- endif %}

						<div class="form-section">
							<h3 class="heading-medium">
								Defendant details
								<a href="#noop" class="link-change">
									Change
									<span class="visually-hidden">&nbsp;defendant details</span>
								</a>
							</h3>

							{% include "../includes/_check_claim_defendant_details.html" %}

						</div>

						{% if data['bill_type'] == "litigator_interim" %}

							<div class="form-section">
								<h3 class="heading-medium">
									Interim fees
									<a href="#noop" class="link-change">
										Change
										<span class="visually-hidden">&nbsp;interim fees</span>
									</a>
								</h3>

								{% include "./includes/_check_claim_interim_fees.html" %}

							</div>

						{% elif data['bill_type'] == "litigator_transfer" %}

							<div class="form-section">
								<h3 class="heading-medium">
									Transfer fees
									<a href="#noop" class="link-change">
										Change
										<span class="visually-hidden">&nbsp;transfer fees</span>
									</a>
								</h3>

								{% include "./includes/_check_claim_transfer_fees.html" %}

							</div>

						{% else %}

							{% if data['fee_type'] == "fixed" -%}

								<div class="form-section">
									<h3 class="heading-medium">
										Fixed fees
										<a href="#noop" class="link-change">
											Change
											<span class="visually-hidden">&nbsp;fixed fees</span>
										</a>
									</h3>

									{% include "./includes/_check_claim_fixed_fees.html" %}

								</div>

							{% else %}

								<div class="form-section">
									<h3 class="heading-medium">
										Graduated fees
										<a href="#noop" class="link-change">
											Change
											<span class="visually-hidden">&nbsp;graduated fees</span>
										</a>
									</h3>

									{% include "./includes/_check_claim_graduated_fees.html" %}

								</div>

							{%- endif %}

						{%- endif %}

						<div class="form-section">
							<h3 class="heading-medium">
								Miscellaneous fees
								<a href="#noop" class="link-change">
									Change
									<span class="visually-hidden">&nbsp;miscellaneous fees</span>
								</a>
							</h3>

							{% include "../includes/_check_claim_miscellaneous_fees.html" %}

						</div>

						<div class="form-section">
							<h3 class="heading-medium">
								Disbursements
								<a href="#noop" class="link-change">
									Change
									<span class="visually-hidden">&nbsp;disbursements</span>
								</a>
							</h3>

							{% include "./includes/_check_claim_disbursements.html" %}

						</div>

						<div class="form-section">
							<h3 class="heading-medium">
								Travel expenses
								<a href="#noop" class="link-change">
									Change
									<span class="visually-hidden">&nbsp;travel expenses</span>
								</a>
							</h3>

							{% include "../includes/_check_claim_travel_expenses.html" %}

						</div>

						{% if data['bill_type'] == "litigator_final" %}
						<div class="form-section">
							<h3 class="heading-medium">
								Warrant fees
								<a href="#noop" class="link-change">
									Change
									<span class="visually-hidden">&nbsp;warrant fees</span>
								</a>
							</h3>

							{% include "./includes/_check_claim_warrant_fees.html" %}

						</div>
						{%- endif %}

						<div class="form-section">
							<h3 class="heading-medium">
								Supporting evidence
								<a href="#noop" class="link-change">
									Change
									<span class="visually-hidden">&nbsp;supporting evidence</span>
								</a>
							</h3>

							{% include "../includes/_check_claim_supporting_evidence.html" %}

						</div>

						<div class="form-section">
							<h3 class="heading-medium">
								Additional information
								<a href="#noop" class="link-change">
									Change
									<span class="visually-hidden">&nbsp;additional information</span>
								</a>
							</h3>

							{% include "../includes/_check_claim_additional_information.html" %}

						</div>

					</div>

					{% include "./includes/_sidebar.html" %}

				</div>

				<div class="form-section">
					<div class="form-group form-buttons">
						<input type="submit" class="button" value="Save and continue" formaction="{{links.next}}">
						<input type="submit" class="button button-tertiary" value="Save as draft">
						<!-- <a href="{{links.home}}">Cancel</a> -->
					</div>
				</div>

			</form>

			{% include "./includes/_help.html" %}

	    </div>
  	</div>

</main>

{% endblock %}