{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "./includes/banner.html" %}
	
  	<div class="grid-row">
	    <div class="column-full">

	    	<a class="link-back" href="{{previous_url}}">Back</a>

	    	<form class="form" action="{{next_url}}" method="post">

				<h1 class="heading-xlarge">
					Claim for litigator fees
				</h1>

				<h2 class="heading-large">
					Cost summary
				</h2>

				<div class="grid-row">

					<div class="column-one-quarter">						
						<h3 class="heading-large">
							<span class="heading-secondary">Fees</span>
							£999,999.00
						</h3>
						<a href="">
							Change fees
						</a>				
					</div>

					<!-- <div class="column-one-quarter">
						<h3 class="heading-large">
							<span class="heading-secondary">Miscellaneous fees</span>
							£999,999.00
						</h3>
						<a href="">
							Change miscellaneous fees
						</a>	
					</div> -->

					<div class="column-one-quarter">
						<h3 class="heading-large">
							<span class="heading-secondary">Disbursements</span>
							£999,999.00
						</h3>
						<a href="">
							Change disbursements
						</a>			
					</div>

					<div class="column-one-quarter">
						<h3 class="heading-large">
							<span class="heading-secondary">Travel expenses</span>
							£999,999.00
						</h3>
						<a href="">
							Change travel expenses
						</a>				
					</div>

					<div class="column-one-quarter">
						<h3 class="heading-large">
							<span class="heading-secondary">Net total</span>
							£999,999.00
						</h3>				
					</div>

				</div>

				<div class="grid-row">
					<div class="column-full">
						
						<div class="form-section">
							<div class="form-group form-buttons">
								<input type="submit" class="button" value="Continue and certify">
								<input type="submit" class="button button-tertiary" value="Save as draft">
								<!-- <input type="submit" class="button button-delete" value="Delete this claim"> -->
								<a href="#noop" class="button button-delete" role="button">Delete this claim</a>
							</div>
						</div>
					</div>
				</div>


				<h2 class="heading-large">
					Claim summary
				</h2>


				<div class="form-section">
					<div class="form-group form-buttons">
						<input type="submit" class="button" value="Continue and certify">
						<input type="submit" class="button button-tertiary" value="Save as draft">
						<!-- <input type="submit" class="button button-delete" value="Delete this claim"> -->
						<a href="#noop" class="button button-delete" role="button">Delete this claim</a>
					</div>
				</div>

			</form>

			{% include "./includes/help.html" %}

	    </div>
  	</div>
</main>

{% endblock %}