{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "./includes/_banner.html" %}

	<div class="grid-row">
		<div class="column-full">

			<a class="link-back" href="{{links.previous}}">Back</a>

			{% include "./includes/_page_heading.html" %}

			<div class="grid-row">
				<div class="column-two-thirds">

					<h2 id="section-heading" class="heading-large">
						Interim fees
					</h2>

					{% if data['defendant_1_representation_order_date_1_year'] >= 2018 and data['defendant_1_representation_order_date_1_month'] >= 4 and data['defendant_1_representation_order_date_1_day'] >= 1 -%}

					<p>All fees should be entered exclusive of <abbr title="Value Added Tax">VAT</abbr>.</p>

					<form class="form" method="post">

						<div class="form-section">

							{% include "./includes/_advocate_category.html" %}

						</div>

						<div class="form-section">

							<h2 class="heading-medium">
								Warrant fees
							</h2>

							<div class="form-group">
							    <fieldset>
							        <legend class="form-label-bold">
							            Warrant issued
							            <span class="form-hint">
							                For example, 31 3 2017
							            </span>
							        </legend>
							        <div class="form-date">
							            <div class="form-group form-group-day">
							                <label class="form-label" for="warrant-issued-date-day">
							                    Day
							                </label>
							                <input class="form-control" id="warrant-issued-date-day" max="31" min="1" name="warrant_issued_date_day" pattern="[0-9]*" type="number" value="{{data['warrant_issued_date_day']}}">
							            </div>
							            <div class="form-group form-group-month">
							                <label class="form-label" for="warrant-issued-date-month">
							                    Month
							                </label>
							                <input class="form-control" id="warrant-issued-date-month" max="12" min="1" name="warrant_issued_date_month" pattern="[0-9]*" type="number" value="{{data['warrant_issued_date_month']}}">
							            </div>
							            <div class="form-group form-group-year">
							                <label class="form-label" for="warrant-issued-date-year">
							                    Year
							                </label>
							                <input class="form-control" id="warrant-issued-date-year" max="2018" min="2010" name="warrant_issued_date_year" pattern="[0-9]*" type="number" value="{{data['warrant_issued_date_year']}}">
							            </div>
							        </div>
							    </fieldset>
							</div>

							<!-- <div class="form-group">
							    <fieldset>
							        <legend class="form-label-bold">
							            Warrant executed (if applicable)
							            <span class="form-hint">
							                For example, 31 3 2017
							            </span>
							        </legend>
							        <div class="form-date">
							            <div class="form-group form-group-day">
							                <label class="form-label" for="warrant-executed-day">
							                    Day
							                </label>
							                <input class="form-control" id="warrant-executed-day" max="31" min="1" name="warrant_executed_day" pattern="[0-9]*" type="number" value="{{data['warrant_executed_day']}}">
							            </div>
							            <div class="form-group form-group-month">
							                <label class="form-label" for="warrant-executed-month">
							                    Month
							                </label>
							                <input class="form-control" id="warrant-executed-month" max="12" min="1" name="warrant_executed_month" pattern="[0-9]*" type="number" value="{{data['warrant_executed_month']}}">
							            </div>
							            <div class="form-group form-group-year">
							                <label class="form-label" for="warrant-executed-year">
							                    Year
							                </label>
							                <input class="form-control" id="warrant-executed-year" max="2018" min="2010" name="warrant_executed_year" pattern="[0-9]*" type="number" value="{{data['warrant_executed_year']}}">
							            </div>
							        </div>
							    </fieldset>
							</div> -->

							<div class="form-group">
							    <label class="form-label-bold" for="warrant-fee-net-amount">
							        Net amount
							    </label>
							    <span class="form-input-denote">
							        &pound;
							    </span>
							    <input class="form-control form-control-1-4 form-input-denote__input" id="warrant-fee-net-amount" name="warrant_fee_net_amount" type="number" max="999999.99" min="0.00" step="0.01" value="{{data['warrant_fee_net_amount']}}">
							</div>

						</div>

						{% include "./includes/_form_actions.html" %}

					</form>


					{% include "./includes/_help.html" %}

				{% else %}

					<p>You cannot submit an interim bill for claims with the earliest representation order before 1 April 2018.</p>

					<div class="form-section">
						<div class="form-group form-buttons">
							<a href="{{links.new}}" class="button" role="button">Submit a new claim</a>
							<a href="{{links.home}}" class="button button-tertiary" role="button">View your claims</a>
						</div>
					</div>

				{%- endif %}

				</div>

				{% include "./includes/_sidebar.html" %}

			</div>

		</div>
	</div>

</main>

{% endblock %}