{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block page_scripts %}
{% include "./includes/_page_scripts_miscellaneous_fees.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "./includes/_banner.html" %}

	<div class="grid-row">
		<div class="column-full">

			<a class="link-back" href="{{links.previous}}">Back</a>

			{% include "./includes/_page_heading.html" %}

			<div class="grid-row">
				<div class="column-two-thirds">

					<h2 id="section-heading" class="heading-large">
						Miscellaneous fees
					</h2>

					<p>All fees should be entered exclusive of <abbr title="Value Added Tax">VAT</abbr>.</p>

					<p>If needed, please complete a <a href="https://www.gov.uk/government/publications/af1-claim-for-advocate-graduated-fees" target="_blank">special prep form</a> <span class="visually-hidden">opens in new window</span> and attach to the claim.</p>

					<form class="form" method="post">

						{% include "./includes/_miscellaneous_fees_v2.html" %}

						<div class="form-section">
							<hr>
							<a href="#noop" class="button button-secondary" role="button">Add another fee</a>
						</div>

						{% if data['bill_type'] == 'advocate_final' -%}
							{% if data['defendant_1_representation_order_date_1_year'] >= 2018 and data['defendant_1_representation_order_date_1_month'] >= 7 and data['defendant_1_representation_order_date_1_day'] >= 1 -%}
								{% include "../includes/_warrant_fees.html" %}
							{%- endif %}
						{%- endif %}

						{% include "./includes/_form_actions.html" %}

					</form>

					{% include "./includes/_help.html" %}

				</div>

				{% include "./includes/_sidebar.html" %}

			</div>

		</div>
	</div>

</main>

{% endblock %}
