{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main class="elements-index" id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Admin</span>
				Prototypes
			</h1>

			<p class="lede">
			Something something something
			</p>

			<ul class="list list-bullet">
				<li><a href="./version-0/">Version 0</a><!-- <p>Something</p> --></li>
				<li><a href="./version-1/">Version 1</a></li>
			</ul>

		</div>
	</div>

</main>

{% endblock %}