{% extends "../../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    	<a class="link-back" href="../">Back</a>

	    <h1 class="heading-xlarge">
	      Search/filter
	    </h1>

      <h2 class="heading-medium">Versions</h2>
      <ul class="list list-bullet">
        <li>
          <a href="./version-0/">Version 0</a><br>
          Scheme 9 data, hyperlinks
        </li>
        <li>
          <a href="./version-1/">Version 1</a><br>
          Scheme 10 data, hyperlinks
        </li>
        <li>
          <a href="./version-2/">Version 2</a><br>
          Scheme 9 data, button revealed on hover
        </li>
        <li>
          <a href="./version-3/">Version 3</a><br>
          Scheme 10 data, button revealed on hover
        </li>
        <li>
          <a href="./version-4/">Version 4</a><br>
          Scheme 9 data, button revealed on hover, filter by class
        </li>
        <li>
          <a href="./version-5/">Version 5</a><br>
          Scheme 10 data, button revealed on hover, filter by class, band and act
        </li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}