{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "./includes/_banner.html" %}

	<div class="grid-row">
		<div class="column-full">

			<a class="link-back" href="{{links.previous}}">Back</a>

			{% include "./includes/_page_heading.html" %}

			<div class="grid-row">
				<div class="column-full">

					<h2 id="section-heading" class="heading-large">
						Additional information
					</h2>

					<form class="form" method="post">

						{% include "../includes/_additional_information.html" %}

						{% include "./includes/_form_actions.html" %}

					</form>

					{% include "./includes/_help.html" %}

				</div>
			</div>

		</div>
	</div>

</main>

{% endblock %}