{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "./includes/_banner.html" %}

	<div class="grid-row">
		<div class="column-full">

			<a class="link-back" href="{{links.previous}}">Back</a>

			<h1 class="heading-xlarge">
				Claim for litigator fees
			</h1>

			<div class="grid-row">
				<div class="column-two-thirds">

					<h2 id="section-heading" class="heading-large">
						Certify claim
					</h2>
					
					<form class="form" method="post">

						<p>I certify on behalf of the payee, that the information provided is correct.</p>

						{% if data['bill_type'] == "litigator_final" -%}
						<p>This work has not been and will not be the subject of any other claim for remuneration from criminal legal aid.</p>
						{%- endif %}
						
						<div class="form-section">
							<div class="form-group form-buttons">
								<input type="submit" class="button" value="Certify and submit" formaction="{{links.next}}">
								<input type="submit" class="button button-tertiary" value="Save as draft" formaction="{{links.save}}">
							</div>
						</div>

					</form>

					{% include "./includes/_help.html" %}

				</div>

				{# include "./includes/_sidebar.html" #}

			</div>

		</div>
	</div>

</main>

{% endblock %}