{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "./includes/_banner.html" %}

  	<div class="grid-row">
	    <div class="column-full">

	    	<a class="link-back" href="{{links.previous}}">Back</a>

	    	<form class="form" method="post">

				<h1 class="heading-xlarge">
					Claim for litigator fees
				</h1>

				<h2 class="heading-large">
					Cost summary
				</h2>

				<div class="grid-row">

					<div class="column-one-quarter">
						<h3 class="heading-large">
							<span class="heading-secondary">
								{% if data['bill_type'] == "litigator_interim" -%}
									Interim fees
								{% else %}
									{% if data['fee_type'] == "graduated" -%}
										Graduated fees
									{% else %}
										Fixed fees
									{%- endif %}
								{%- endif %}
							</span>
							£999,999.00
						</h3>
						<a href="{{links.fees}}">
							Change fees
						</a>
					</div>

					<div class="column-one-quarter">
						<h3 class="heading-large">
							<span class="heading-secondary">Disbursements</span>
							£999,999.00
						</h3>
						<a href="{{links.disbursements}}">
							Change disbursements
						</a>
					</div>

					<div class="column-one-quarter">
						<h3 class="heading-large">
							<span class="heading-secondary">Travel expenses</span>
							£999,999.00
						</h3>
						<a href="{{links.travel}}">
							Change expenses
						</a>
					</div>

					<div class="column-one-quarter">
						<h3 class="heading-large">
							<span class="heading-secondary">Total claimed</span>
							£999,999.00
						</h3>
						<p class="font-grey">VAT £199,999.80</p>
					</div>

				</div>

				<div class="grid-row">
					<div class="column-full">
						<div class="form-section">
							<div class="form-group form-buttons">
								<input type="submit" class="button" value="Save and continue" formaction="{{links.next}}">
								<input type="submit" class="button button-tertiary" value="Save as draft" formaction="{{links.save}}">
								<a href="#noop" class="link-delete" role="button">Delete this claim</a>
							</div>
						</div>
					</div>
				</div>

				<div class="grid-row">
					<div class="column-full">

						<h2 class="heading-large">
							Claim summary
						</h2>

						<div class="form-section">
							<h3 class="heading-medium">
								Case details
								<a href="#noop" class="link-change">
									Change
									<span class="visually-hidden">&nbsp;case details</span>
								</a>
							</h3>
						</div>

						<div class="form-section">
							<h3 class="heading-medium">
								Defendant details
								<a href="#noop" class="link-change">
									Change
									<span class="visually-hidden">&nbsp;defendant details</span>
								</a>
							</h3>
						</div>

						<div class="form-section">
							<h3 class="heading-medium">
								Offence details
								<a href="#noop" class="link-change">
									Change
									<span class="visually-hidden">&nbsp;offence details</span>
								</a>
							</h3>
						</div>

						{% if data['bill_type'] == "litigator_interim" %}

							<div class="form-section">
								<h3 class="heading-medium">
									Interim fees
									<a href="#noop" class="link-change">
										Change
										<span class="visually-hidden">&nbsp;interim fees</span>
									</a>
								</h3>
							</div>

						{% elif data['bill_type'] == "litigator_transfer" %}

							<div class="form-section">
								<h3 class="heading-medium">
									Transfer fees
									<a href="#noop" class="link-change">
										Change
										<span class="visually-hidden">&nbsp;transfer fees</span>
									</a>
								</h3>
							</div>

						{% else %}

							{% if data['fee_type'] == "fixed" -%}

								<div class="form-section">
									<h3 class="heading-medium">
										Fixed fees
										<a href="#noop" class="link-change">
											Change
											<span class="visually-hidden">&nbsp;fixed fees</span>
										</a>
									</h3>
								</div>

							{% else %}

								<div class="form-section">
									<h3 class="heading-medium">
										Graduated fees
										<a href="#noop" class="link-change">
											Change
											<span class="visually-hidden">&nbsp;graduated fees</span>
										</a>
									</h3>
								</div>

							{%- endif %}

						{%- endif %}

						<div class="form-section">
							<h3 class="heading-medium">
								Miscellaneous fees
								<a href="#noop" class="link-change">
									Change
									<span class="visually-hidden">&nbsp;miscellaneous fees</span>
								</a>
							</h3>
						</div>

						<div class="form-section">
							<h3 class="heading-medium">
								Travel expenses
								<a href="#noop" class="link-change">
									Change
									<span class="visually-hidden">&nbsp;travel expenses</span>
								</a>
							</h3>
						</div>

						<div class="form-section">
							<h3 class="heading-medium">
								Supporting evidence
								<a href="#noop" class="link-change">
									Change
									<span class="visually-hidden">&nbsp;supporting evidence</span>
								</a>
							</h3>
						</div>

						<div class="form-section">
							<h3 class="heading-medium">
								Additional information
								<a href="#noop" class="link-change">
									Change
									<span class="visually-hidden">&nbsp;additional information</span>
								</a>
							</h3>
						</div>

					</div>
				</div>

				<div class="grid-row">
					<div class="column-full">
						<div class="form-section">
							<div class="form-group form-buttons">
								<input type="submit" class="button" value="Save and continue" formaction="{{links.next}}">
								<input type="submit" class="button button-tertiary" value="Save as draft" formaction="{{links.save}}">
								<a href="#noop" class="link-delete" role="button">Delete this claim</a>
							</div>
						</div>
					</div>
				</div>

			</form>

			{% include "./includes/_help.html" %}

	    </div>
  	</div>
</main>

{% endblock %}