{% extends "../../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block page_scripts %}
{% include "./_page_scripts_add_items_to_list.html" %}
{% endblock %}

{% block page_styles %}
{% include "./_page_styles_add_items_to_list.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

    	<a class="link-back" href="../">Back</a>

	    <h1 class="heading-xlarge">
	      Multiple items (v4)
	    </h1>

	    <!-- http://jsbin.com/jiwocafiqi/edit?html,css,js,output -->

		<form method="get">
			
			<div class="grid-row">
				<h2 class="heading-large">Something...</h2>
				<div class="col-sm-12 key_expertise">
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" name="profileExperience" id="" placeholder="Key Expertise">
					</div>
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" name="experienceYear" id="" placeholder="Key Expertise">
					</div>
					<div class="mdl-textfield mdl-js-textfield marginRight_none">
						<input class="mdl-textfield__input" name="experienceYear" id="" placeholder="Key Expertise">
					</div>
				</div>
			</div>

			<div class="grid-row">
				<h2 class="heading-medium">Something...</h2>
				<div class="col-sm-12 input_add_delete first">
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" name="profileExperience" id="" placeholder="Experience">
					</div>
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" name="experienceYear" id="" placeholder="Year">
					</div>
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" name="experienceTitle" id="" placeholder="Title">
					</div>
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" name="experienceCountry" id="" placeholder="Country">
					</div>
					<div class="add_input">
						<a href="javascript:void(0);"> Add  <i class="zmdi zmdi-plus-circle zmdi-hc-fw"></i></a>
					</div>
					<div class="delete_input">
						<a href="javascript:void(0);">Delete<i class="zmdi zmdi-minus-circle zmdi-hc-fw"></i></a>
					</div>
				</div>
			</div>

			<div class="grid-row">
				<div class="col-sm-12">
					<div class="text-right">
						<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-highlight btn-default btn-submit" data-upgraded=",MaterialButton,MaterialRipple">Save  <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
					</div>
				</div>
			</div>

		</form>

    </div>
  </div>
</main>

{% endblock %}