{% extends "../../../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}
<main class="content browse" id="content" role="main">

    <a class="link-back" href="{{base}}/browse/{{class}}/{{band}}">Back</a>

    <h1 class="heading-xlarge">
        Offence details
    </h1>

    <h2 class="heading-medium">
        Category {{class}}.{{band}}.{{category}} details
    </h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    
</main>
{% endblock %}
