{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main class="elements-index" id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
			Playground
			</h1>

			<p class="lede">
			Something something something
			</p>

		</div>
	</div>

	<div class="grid-row">
		<div class="column-one-third">

			<h2 class="heading-medium"><a href="./multiple/">Multiple items</a></h2>
			<p>
			Lorem ipsum dolor sit emet.
			</p>

		</div>
		<div class="column-one-third">

			<h2 class="heading-medium"><a href="./multiple-alternative/">Multiple items (alternative)</a></h2>
			<p>
			Lorem ipsum dolor sit emet.
			</p>

		</div>
		<div class="column-one-third">

			<h2 class="heading-medium"><a href="./validation/">Errors and validation</a></h2>
			<p>
				Lorem ipsum dolor sit emet.
			</p>

		</div>
	</div>

	<div class="grid-row">
		<div class="column-one-third">

			<h2 class="heading-medium"><a href="./autocomplete/">Autocompelete</a></h2>
			<p>
			Lorem ipsum dolor sit emet.
			</p>

		</div>
		<div class="column-one-third">

			<h2 class="heading-medium"><a href="./dependent-dropdowns/">Dependent dropdowns</a></h2>
			<p>
				Lorem ipsum dolor sit emet.
			</p>

		</div>
		<div class="column-one-third">

			<h2 class="heading-medium"><a href="./collections/">Collections</a></h2>
			<p>
				Lorem ipsum dolor sit emet.
			</p>

		</div>
	</div>

	<div class="grid-row">
		<div class="column-one-third">

			<h2 class="heading-medium"><a href="./search-filter/">In-page search/filter</a></h2>
			<p>
				Lorem ipsum dolor sit emet.
			</p>

		</div>
		<div class="column-one-third">

			<h2 class="heading-medium"><a href="./accordion/">Accordion</a></h2>
			<p>
				Lorem ipsum dolor sit emet.
			</p>

		</div>
		<div class="column-one-third">

			<h2 class="heading-medium"><a href="./stepped/">Stepped</a></h2>
			<p>
				Lorem ipsum dolor sit emet.
			</p>

		</div>
	</div>

	<div class="grid-row">
		<div class="column-one-third">

			<h2 class="heading-medium"><a href="./character-count/">Character count</a></h2>
			<p>
				Lorem ipsum dolor sit emet.
			</p>

		</div>
		<div class="column-one-third">

			<h2 class="heading-medium"><a href="./passwords/">Passwords</a></h2>
			<p>
				Lorem ipsum dolor sit emet.
			</p>

		</div>
		<div class="column-one-third">

			<!-- <h2 class="heading-medium"><a href="./"></a></h2>
			<p>
				Lorem ipsum dolor sit emet.
			</p> -->

		</div>
	</div>

	<div class="grid-row">
		<div class="column-full">
			<hr>
			<h3 class="heading-small">Looking for the styles?</h3>
			<p>
				The Sass files for <a href="https://github.com/alphagov/govuk_elements/tree/master/assets/sass" rel="external">all the examples can be found on GitHub</a>.
			</p>

			<h3 class="heading-small">Want to discuss these patterns?</h3>
			<p>
				<a href="https://paper.dropbox.com/doc/About-GOV.UK-Design-Patterns-hkou7bpzKya8Dadv24V1z" rel="external">
					Discuss GOV.UK Design Patterns
				</a>.
			</p>
		</div>

	</div>

	<div class="grid-row">
		<div class="column-full">
			<hr>
			<h3 class="heading-medium">Other resources</h3>
			<ul>
				<li><a href="https://paper.dropbox.com/folder/show/GOV.UK-Design-Patterns-e.iX7ZavGxujPFwhjOZcQs9BGH2vBGRBJNqRyrSa5x73JE6s28CX" target="_blank">GOV.UK Design Patterns (Dropbox Paper)</a></li>
				<li><a href="http://rural-payments-styleguide.herokuapp.com/" target="_blank">RPA styleguide</a></li>
				<li><a href="https://home-office-digital-patterns.herokuapp.com/patterns" target="_blank">Home Office patterns</a></li>
				<li><a href="https://onsdigital.github.io/ons-pattern-library-starter/" target="_blank">ONS design patterns</a></li>
				<li><a href="https://style.ons.gov.uk/category/data-visualisation/" target="_blank">ONS data visualisation</a></li>
				<li><a href="https://dwp-patterns.herokuapp.com/" target="_blank">DWP patterns</a></li>
				<li><a href="http://land-registry-elements.herokuapp.com/" target="_blank">Land Registry elements</a></li>
			</ul>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-full">
			<hr>
			<h3 class="heading-medium">Tools</h3>
			<ul>
				<li><a href="http://jsoneditoronline.org/" target="_blank" rel="external">JSON Editor</a></li>
				<li><a href="http://www.generatedata.com/" target="_blank">Generate Data</a></li>
				<li><a href="https://www.mockaroo.com/" target="_blank">Mockaroo</a></li>
				<li><a href="https://www.freemaptools.com/download-uk-postcode-lat-lng.htm" target="_blank">FreeMapTools – UK Postcodes</a></li>
				<li><a href="http://postcodes.io/" target="_blank">Postcodes.io</a></li>
				<li><a href="https://jakearchibald.github.io/svgomg/" target="_blank">SVGOMG</a></li>
				<li><a href="https://www.lists.design/" target="_blank">Lists data</a></li>
				<li><a href="https://developer.mozilla.org/en-US/" target="_blank">Mozilla Developer Docs (MDN)</a></li>
				<li><a href="https://thenounproject.com/" target="_blank">The Noun Project</a></li>
			</ul>
		</div>

	</div>
	

</main>

{% endblock %}