{% extends "../../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block page_scripts %}
{% include "./_page_scripts_add_items_to_list.html" %}
{% endblock %}

{% block page_styles %}
{% include "./_page_styles_add_items_to_list.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

    	<a class="link-back" href="../">Back</a>

	    <h1 class="heading-xlarge">
	      Multiple items (v3)
	    </h1>

		<form method="get">
			<!-- begin snippet: js hide: false -->
			<div>
			  <h2 class="heading-large">System Details</h2>
			  <div id="wrapper">
			    <h3  class="heading-medium">System 1</h3>
			    <div id="div0">
			      <div>
			        <label>System <small>*</small> </label>
			        <select name="system" class="system">
			          <option>Select system</option>
			          <option value="CPM-200">CPM-200</option>
			          <option value="CPM-100">CPM-100</option>
			          <option value="CPM-100H">CPM-100H</option>
			          <option value="CJ Pro">CJ Pro</option>
			          <option value="CJ-200C">CJ-200C</option>
			          <option value="CM-200">CM-200</option>
			        </select>
			      </div>
			      <div class="serial-div">
			        <label>Serial Number <small>*</small>
			        </label>
			        <input type="text" name="serial1" class="serial" required>
			      </div>
			      <!-- End Box -->
			      <div class="licensekey-div">
			        <label>License Key (if known)</label>
			        <input type="text" name="license1" class="licensekey" placeholder="e.g. ABCD1-EFGH2-IJKL3-MNOP4-QRST5" value="">
			      </div>
			      <!-- End Box -->
			      <div class="remove-btn-div">
			        <a href="#" class="remove-btn">Remove</a>
			      </div>
			    </div>
			  </div>
			  <div>
			    <a href="#" id="add-another">Add Another System?</a>
			  </div>
			</div>
			

		</form>

    </div>
  </div>
</main>

{% endblock %}