{% extends "../../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

    	<a class="link-back" href="../">Back</a>

		<h1 class="heading-xlarge">
			<span class="heading-secondary">Navigation</span>
			Pagination
		</h1>


		<nav class="page-numbers-container page-navigation" aria-label="Pagination">
			<div class="previous">
				<a href="" rel="prev" class="font-medium">Previous</a>
			</div>
			<div class="next">
				<a href="" rel="next" class="font-medium">Next</a>
			</div>
		</nav>

		<nav class="pub-c-pagination" role="navigation" aria-label="Pagination">
		  <ul class="pub-c-pagination__list">
		      <li class="pub-c-pagination__item pub-c-pagination__item--next">
		        <a href="/eea-registration-certificate/apply" class="pub-c-pagination__link" rel="next">
		          <span class="pub-c-pagination__link-title">
		            Next
		            <svg class="pub-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
		              <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		            </svg>
		          </span>
		            <span class="visually-hidden">:</span>
		            <span class="pub-c-pagination__link-label">Registration certificate</span>
		        </a>
		      </li>
		  </ul>
		</nav>


    </div>
  </div>
</main>

{% endblock %}
