{% extends "../../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block page_styles %}
<style type="text/css">
.item-wrapper {
  @extend %grid-row;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;

  @media (max-width: 640px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.remove-list-item {
  display: inline-block;
  margin-top: 1.6em;
}

.list-item-wrapper {
  padding-left: 15px;
  padding-right: 20px;

  .heading-small,
  .heading-medium,
  .heading-large,
  .heading-xlarge {
    margin-top: 0;
  }

  .column-one-quarter {
    .list-item {
      width: 100%;
    }

    input {
      width: 90%;

      @media (max-width: 640px) {
        width: 100%;
      }
    }
  }
}
</style>
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "../includes/_banner.html" %}

	<div class="grid-row">
		<div class="column-full">

			<a class="link-back" href="{{links.previous}}">Back</a>

			<h1 class="heading-xlarge">
				Settings
			</h1>

			<div class="grid-row">
				<div class="column-full">

					<h2 id="section-heading" class="heading-large">
						Edit provider details
					</h2>

					<form class="form" method="post">

						<div class="form-group" data-required="true" data-error="Add a provider name">
							<label class="form-label-bold" for="reference-number">
								Provider name
								<!-- <span class="form-hint">...</span> -->
							</label>
							<input class="form-control form-control-1-2" id="provider-name" type="text" name="provider_name" value="{{ data['provider_name']}}" autocomplete="off" autocapitalize="off">
						</div>

						<div class="form-group" data-required="true" data-error="Choose a provider type">

							<fieldset>

								<legend class="form-label-bold" for="radio-1">
									Provider type
									<!-- <span class="form-hint">...</span> -->
								</legend>

								<div class="multiple-choice">
									<input id="provider-type-chamber" type="radio" name="provider_type" value="chamber" {{ checked('provider_type', 'chamber') }}>
									<label for="provider-type-chamber">Chamber</label>
								</div>

								<div class="multiple-choice">
									<input id="provider-type-firm" type="radio" name="provider_type" value="firm" {{ checked('provider_type', 'firm') }}>
									<label for="provider-type-firm">Firm</label>
								</div>

							</fieldset>

						</div>

						<div class="form-group" data-required="true" data-error="Choose at least one fee scheme">
						    <fieldset>
						        <legend class="heading-small">
						            Fee scheme
						            <span class="form-hint">
						                Please choose all relevant options
						            </span>
						        </legend>

								<div class="multiple-choice" data-target="fee-scheme-agfs-panel">
						            <input aria-controls="fee-scheme-agfs-panel" aria-expanded="false" id="fee-scheme-agfs" name="fee_scheme_checklist" type="checkbox" value="agfs" {% if (data['fee_scheme_checklist'] and 'agfs' in data['fee_scheme_checklist']) -%}checked="checked"{%- endif %}>
						            <label for="fee-scheme-agfs">
						                <abbr onclick="" title="Advocate Graduated Fee Scheme" tabindex="0">AGFS</abbr>
						            </label>
						        </div>
						        <div class="panel panel-border-narrow js-hidden" id="fee-scheme-agfs-panel">
						            <div class="form-group">
						                <label class="form-label-bold" for="agfs-supplier-number">
						                    Supplier number
											<span class="form-hint">For example, 123AB</span>
						                </label>
						                <input class="form-control form-control-1-4" id="agfs-supplier-number" name="agfs_supplier_number" type="text" value="{{data['agfs_supplier_number']}}">
						            </div>
						        </div>
								

								<div class="multiple-choice" data-target="fee-scheme-lgfs-panel">
						            <input aria-controls="fee-scheme-lgfs-panel" aria-expanded="false" id="fee-scheme-lgfs" name="fee_scheme_checklist" type="checkbox" value="lgfs" {% if (data['fee_scheme_checklist'] and 'lgfs' in data['fee_scheme_checklist']) -%}checked="checked"{%- endif %}>
						            <label for="fee-scheme-lgfs">
						                <abbr onclick="" title="Litigator Graduated Fee Scheme" tabindex="0">LGFS</abbr>
						            </label>
						        </div>
						        <!-- <div class="panel panel-border-narrow js-hidden" id="fee-scheme-lgfs-panel">
						            <div class="form-group">
						                <label class="form-label-bold" for="lgfs-supplier-name">
						                    Name
						                </label>
						                <input class="form-control form-control-1-2" id="lgfs-supplier-name" name="lgfs_supplier_name" type="text" value="{{data['lgfs_supplier_name']}}">
						            </div>
						            <div class="form-group">
						                <label class="form-label-bold" for="lgfs-supplier-postcode">
						                    Postcode
						                </label>
						                <input class="form-control form-control-1-4" id="lgfs-supplier-postcode" name="lgfs_supplier_postcode" type="text" value="{{data['lgfs_supplier_postcode']}}">
						            </div>
						            <div class="form-group">
						                <label class="form-label-bold" for="agfs-supplier-number">
						                    <abbr onclick="" title="Litigator Graduated Fee Scheme" tabindex="0">LGFS</abbr> supplier number
						                </label>
						                <input class="form-control form-control-1-4" id="lgfs-supplier-number" name="lgfs_supplier_number" type="text" value="{{data['lgfs_supplier_number']}}">
						            </div>
						            <hr>
							        <div class="form-group">
						                <a href="#noop">
						                    Add another supplier
						                </a>
						            </div>
						        </div> -->

						        <div class="panel panel-border-narrow js-hidden" id="fee-scheme-lgfs-panel">

						        	<div id="item-row" class="grid-row">

										<div class="column-full list-item-wrapper">
											<h2 class="heading-small">
												Supplier 1
											</h2>

											<fieldset>
												<div class="column-one-quarter no-padding">
													<div class="form-group list-item">
														<label class="form-label-bold" for="field-1">
															Location name
															<span class="form-hint">For example, London</span>
														</label>
														<input type="text" class="form-control form-control-2-3" id="field-1" name="field-1" value="{{ data['field-1'] }}">
													</div>
												</div>

												<div class="column-one-quarter no-padding">
													<div class="form-group list-item">
														<label class="form-label-bold" for="field-2">
															Postcode
															<span class="form-hint">For example, SW1H 9AJ</span>
														</label>
														<input type="text" class="form-control form-control-2-3" id="field-2" name="field-2" value="{{ data['field-2'] }}">
													</div>
												</div>

												<div class="column-one-quarter no-padding">
													<div class="form-group list-item">
														<label class="form-label-bold" for="field-3">
															Supplier number
															<span class="form-hint">For example, 1A234B</span>
														</label>
														<input type="text" class="form-control form-control-2-3" id="field-3" name="field-3" value="{{ data['field-3'] }}">
													</div>
												</div>

												<div class="column-one-quarter">
													<div class="list-item">
													</div>
												</div>
											</fieldset>

											<hr />
										</div>
									</div>

									<!-- <div class="">
										<div class="form-group">
							                <a href="#noop">
							                    Add another supplier
							                </a>
							            </div>
									</div> -->

									<div class="grid-row">
										<div class="column-two-thirds">
											<div class="form-group">
												<br>
												<a id="add-link" href="#noop">
								                    Add another supplier
								                </a>
												<!-- <button id="add-button" class="button button-secondary button-add-another">Add another</button> -->
											</div>
										</div>
									</div>

						        	<!-- <div class="grid-row">
						        		<div class="list-item-wrapper">
											<h2 class="heading-medium">
												Item 1
											</h2>
							        		<div class="column-one-quarter">
									            <div class="form-group">
									                <label class="form-label-bold" for="lgfs-supplier-name">
									                    Name
									                </label>
									                <input class="form-control" id="lgfs-supplier-name" name="lgfs_supplier_name" type="text" value="{{data['lgfs_supplier_name']}}">
									            </div>
								            </div>
								            <div class="column-one-quarter">
									            <div class="form-group">
									                <label class="form-label-bold" for="lgfs-supplier-postcode">
									                    Postcode
									                </label>
									                <input class="form-control" id="lgfs-supplier-postcode" name="lgfs_supplier_postcode" type="text" value="{{data['lgfs_supplier_postcode']}}">
									            </div>
								            </div>
								            <div class="column-one-quarter">
									            <div class="form-group">
									                <label class="form-label-bold" for="agfs-supplier-number">
									                    Supplier number
									                </label>
									                <input class="form-control" id="lgfs-supplier-number" name="lgfs_supplier_number" type="text" value="{{data['lgfs_supplier_number']}}">
									            </div>
									        </div>
									        <div class="column-one-quarter">
												<div class="list-item"></div>
											</div>
							            </div>
							            
							        </div>
							        <hr>
							        <div class="form-group">
						                <a href="#noop">
						                    Add another supplier
						                </a>
						            </div> -->
						        </div>

						    </fieldset>
						</div>

						<div class="form-group" data-required="true" data-error="Choose a VAT registered status">

							<fieldset>

								<legend class="form-label-bold" for="radio-1">
									Is the provider <abbr onclick="" title="Value Added Tax" tabindex="0">VAT</abbr> registered?
									<!-- <span class="form-hint">...</span> -->
								</legend>

								<div class="multiple-choice inline">
									<input id="vat-registered-yes" type="radio" name="vat_registered" value="yes" {{ checked('vat_registered', 'yes') }}>
									<label for="vat-registered-yes">Yes</label>
								</div>

								<div class="multiple-choice">
									<input id="vat-registered-no" type="radio" name="vat_registered" value="no" {{ checked('vat_registered', 'no') }}>
									<label for="vat-registered-no">No</label>
								</div>

							</fieldset>

						</div>

						{% include "./_form_actions.html" %}

					</form>

					{% include "./_help.html" %}

				</div>

			</div>

		</div>
	</div>

</main>

{% endblock %}