{% extends "../../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    	<a class="link-back" href="../">Back</a>

	    <h1 class="heading-xlarge">
	      Character count
	    </h1>

      <p><a href="https://govuk-charcount-prototype.herokuapp.com/">Character count demo</a></p>
	    

    </div>
  </div>
</main>

{% endblock %}