{% extends "../../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    	<a class="link-back" href="../">Back</a>

	    <h1 class="heading-xlarge">
	      Autocomplete
	    </h1>
      
      <h2 class="heading-medium">Versions</h2>
      <ul class="list list-bullet">
        <li><a href="./version-0/">Version 0</a><br>Based on Frankie Roberto's implementation of the alphagov accessible autocomplete code</li>
        <li><a href="./version-1/">Version 1</a><br>CCCD case types</li>
        <li><a href="./version-2/">Version 2</a><br>Scheme 9 offence data</li>
        <li><a href="./version-3/">Version 3</a><br>Scheme 10 offence data</li>
      </ul>

      <div class="grid-row">
        <div class="column-full">
          <hr>
          
          <h2 class="heading-medium">Examples and documentation</h2>

          <ul class="list list-bullet">
            <li><a href="https://govuk-location-picker-demo.herokuapp.com/country-of-birth">Location picker prototype</a></li>
            <li><a href="https://github.com/alphagov/location-picker-prototype">Location picker prototype code</a></li>
            <li><a href="https://designnotes.blog.gov.uk/2017/04/20/were-building-an-autocomplete/">We’re building an autocomplete</a></li>
            <li><a href="https://github.com/alphagov/accessible-autocomplete">Accessible autocomplete code</a></li>
            <li><a href="https://github.com/frankieroberto/govuk-government-organisations-autocomplete">Frankie Roberto government organisations autocomplete</a></li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</main>

{% endblock %}