{% extends "../../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    	<a class="link-back" href="../">Back</a>

	    <h1 class="heading-xlarge">
	      Autocomplete
	    </h1>

      <div class="grid-row">
        <div class="column-full">
          <hr>
          
          <h2 class="heading-medium">Examples and documentation</h2>

          <ul class="list list-bullet">
            <li><a href="https://govuk-location-picker-demo.herokuapp.com/country-of-birth">Location picker prototype</a></li>
            <li><a href="https://github.com/alphagov/location-picker-prototype">Location picker prototype code</a></li>
            <li><a href="https://designnotes.blog.gov.uk/2017/04/20/were-building-an-autocomplete/">We’re building an autocomplete</a></li>
            <li><a href="https://github.com/alphagov/accessible-autocomplete">Accessible autocomplete code</a></li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</main>

{% endblock %}