{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "../includes/_banner.html" %}

	<div class="grid-row">
	    <div class="column-full">

	    	<a class="link-back" href="{{links.previous}}">
	    		Back
	    		<span class="visually-hidden"> to your claims</span>
	    	</a>

	    	<form class="form" action="{{links.next}}" method="post">

				<h1 class="heading-xlarge">
					Claim for litigator fees
				</h1>

				<h2 class="heading-large">
					What would you like to do?
				</h2>

				<div class="form-section">
					<div class="form-group">
						<fieldset>

							<legend>
								<h3 class="heading-medium">Choose your bill type</h3>
							</legend>

							<div class="multiple-choice">
								<input id="radio-1" type="radio" name="bill_type" value="litigator_final" {{ checked('bill_type','litigator_final') }}>
								<label for="radio-1">Litigator final fee</label>
							</div>
							<div class="multiple-choice">
								<input id="radio-2" type="radio" name="bill_type" value="litigator_interim" {{ checked('bill_type','litigator_interim') }}>
								<label for="radio-2">Litigator interim fee</label>
							</div>
							<div class="multiple-choice">
								<input id="radio-3" type="radio" name="bill_type" value="litigator_transfer" {{ checked('bill_type','litigator_transfer') }}>
								<label for="radio-3">Litigator transfer fee</label>
							</div>

						</fieldset>
					</div>
				</div>

				<div class="form-section">
				  <div class="form-group form-buttons">
				    <input type="submit" class="button" value="Continue">
				    <!-- <input type="submit" class="button button-tertiary" value="Save as draft"> -->
				    <a href="{{links.home}}" class="button button-tertiary">Cancel</a>
				  </div>
				</div>

			</form>

			{% include "./includes/_help.html" %}

	    </div>
  	</div>

</main>

{% endblock %}