{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "../includes/_banner.html" %}

	<div class="grid-row">
	    <div class="column-full">

	    	<a class="link-back" href="{{links.previous}}">Back</a>

	    	<form class="form" action="{{links.next}}" method="post">

				<h1 class="heading-xlarge">
					Claim for litigator fees
				</h1>

				<div class="form-section">
					<h2 id="section-heading" class="heading-large">
						Transfer details
					</h2>

					{% include "./includes/_transfer_details.html" %}

				</div>

				<div class="form-section">
					<div class="form-group form-buttons">
						<input type="submit" class="button" value="Save and continue">
						<input type="submit" class="button button-tertiary" value="Save as draft">
						<!-- <a href="{{links.home}}">Cancel</a> -->
					</div>
				</div>

			</form>

			{% include "./includes/_help.html" %}

	    </div>
  	</div>

</main>

{% endblock %}