{% extends "../../../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block page_scripts %}
{% include "./includes/_page_scripts.html" %}
{% endblock %}

{% block page_styles %}
{% include "./includes/_page_styles.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  	<div class="grid-row">
	    <div class="column-two-thirds">

	    	<a class="link-back" href="../">Back</a>

		    <h1 class="heading-xlarge">
		      Claim for Crown court fees
		    </h1>

		    <h2 class="heading-large">
		    	Miscellaneous fees
		    </h2>

			<form method="get">

				<div id="list-item-row-1" class="form-section-compound list-item-row" data-item-number="1">

				    <h3 class="heading-medium list-item-heading">
						Miscellaneous fee
					</h3>

					<div class="form-group">
						<fieldset id="miscellaneous-fee-1-type" class="miscellaneous-fee-type">
							<legend class="form-label-bold">
								Type of fee
							</legend>

							<div class="multiple-choice" data-target="miscellaneous-fee-1-type-1-panel">
								<input id="miscellaneous-fee-1-type-1" type="radio" name="miscellaneous_fee_1_type" value="case_uplift" autocorrect="off" autocapitalize="off" spellcheck="false" aria-controls="miscellaneous-fee-1-type-1-panel" aria-expanded="false">
								<label for="miscellaneous-fee-1-type-1">Case uplift</label>
							</div>
							<div class="panel panel-border-narrow js-hidden" id="miscellaneous-fee-1-type-1-panel" aria-hidden="true">
					            <div class="form-group">
					                <label class="form-label-bold" for="miscellaneous-fee-1-type-1-additional-case-numbers">
					                    Additional case numbers
					                    <span class="form-hint">
					                        Separate with commas
					                    </span>
					                </label>
					                <input class="form-control form-control-3-4" id="miscellaneous-fee-1-type-1-additional-case-numbers" name="miscellaneous_fee_1_type_1_additional_case_numbers" type="text" value="" autocorrect="off" autocapitalize="off" spellcheck="false">
					            </div>
					        </div><div class="multiple-choice" data-target="miscellaneous-fee-1-type-2-panel">
								<input id="miscellaneous-fee-1-type-2" type="radio" name="miscellaneous_fee_1_type" value="costs_judge_application" autocorrect="off" autocapitalize="off" spellcheck="false" aria-controls="miscellaneous-fee-1-type-2-panel" aria-expanded="false">
								<label for="miscellaneous-fee-1-type-2">Costs judge application</label>
							</div>
							<div class="multiple-choice" data-target="miscellaneous-fee-1-type-3-panel">
								<input id="miscellaneous-fee-1-type-3" type="radio" name="miscellaneous_fee_1_type" value="costs_judge_preparation" autocorrect="off" autocapitalize="off" spellcheck="false" aria-controls="miscellaneous-fee-1-type-3-panel" aria-expanded="false">
								<label for="miscellaneous-fee-1-type-3">Costs judge preparation</label>
							</div>
							<div class="multiple-choice" data-target="miscellaneous-fee-1-type-4-panel">
								<input id="miscellaneous-fee-1-type-4" type="radio" name="miscellaneous_fee_1_type" value="evidence_provision_fee" autocorrect="off" autocapitalize="off" spellcheck="false" aria-controls="miscellaneous-fee-1-type-4-panel" aria-expanded="false">
								<label for="miscellaneous-fee-1-type-4">Evidence provision fee</label>
							</div>
							<div class="multiple-choice" data-target="miscellaneous-fee-1-type-5-panel">
								<input id="miscellaneous-fee-1-type-5" type="radio" name="miscellaneous_fee_1_type" value="special_preparation_fee" autocorrect="off" autocapitalize="off" spellcheck="false" aria-controls="miscellaneous-fee-1-type-5-panel" aria-expanded="false">
								<label for="miscellaneous-fee-1-type-5">Special preparation fee</label>
							</div>

						</fieldset>
					</div>

					<div class="form-group">
					    <label class="form-label-bold" for="miscellaneous-fee-1-net-amount">
					        Net amount
					    </label>
					    <span class="form-input-denote">
					        £
					    </span>
					    <input class="form-control form-control-1-4 form-input-denote__input" id="miscellaneous-fee-1-net-amount" name="miscellaneous_fee_1_net_amount" type="number" max="999999.99" min="0.00" step="0.01" value="" autocorrect="off" autocapitalize="off" spellcheck="false">
					</div>

					<hr>

				</div>

				<div class="form-section">
					<div class="form-group form-buttons">
						<input type="submit" class="button" value="Save and continue">
						<input type="button" id="add-button" class="button button-secondary add-list-item" value="Add another fee">
						<input type="button" class="button button-tertiary" value="Save as draft">
					</div>
				</div>

			</form>

		</div>
	</div>
</main>

{% endblock %}