{% extends "../../../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block page_scripts %}
{% include "./includes/_page_scripts.html" %}
{% endblock %}

{% block page_styles %}
{% include "./includes/_page_styles.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  	<div class="grid-row">
	    <div class="column-two-thirds">

	    	<a class="link-back" href="../">Back</a>

		    <h1 class="heading-xlarge">
		      <!-- <span class="heading-secondary">Multiple items</span> -->
		      Claim for Crown court fees
		    </h1>

		    <!-- <p class="lede">Something...</p> -->

		    <h2 class="heading-large">
		    	Defendant details
		    </h2>

			<form method="get">

				<div id="list-item-row-1" class="form-section list-item-row" data-item-number="1">

				    <h3 class="heading-medium list-item-heading">
				        Defendant
				    </h3>

				    <div class="form-group">
				        <label class="form-label-bold " for="defendant-1-first-name">
				            First name
				        </label>
				        <input class="form-control" id="defendant-1-first-name" name="defendants[0][first_name]" type="text" value="{{data['defendants'][0]['first_name']}}" autocomplete="off">
				    </div>

				    <div class="form-group">
				        <label class="form-label-bold" for="defendant-1-last-name">
				            Last name
				        </label>
				        <input class="form-control" id="defendant-1-last-name" name="defendants[0][last_name]" type="text" value="{{data['defendants'][0]['last_name']}}" autocomplete="off">
				    </div>

				    <div class="form-group">
				        <fieldset>
				            <legend class="form-label-bold">
				                Date of birth
				                <span class="form-hint">
				                    For example, 31 3 1980
				                </span>
				            </legend>
				            <div class="form-date">
				                <div class="form-group form-group-day">
				                    <label class="form-label" for="defendant-1-date-of-birth-day">
				                        Day
				                    </label>
				                    <input class="form-control" id="defendant-1-date-of-birth-day" max="31" min="1" name="defendants[0][date_of_birth][day]" pattern="[0-9]*" type="number" value="{{data['defendants'][0]['date_of_birth']['day']}}">
				                </div>
				                <div class="form-group form-group-month">
				                    <label class="form-label" for="defendant-1-date-of-birth-month">
				                        Month
				                    </label>
				                    <input class="form-control" id="defendant-1-date-of-birth-month" max="12" min="1" name="defendants[0][date_of_birth][month]" pattern="[0-9]*" type="number" value="{{data['defendants'][0]['date_of_birth']['month']}}">
				                </div>
				                <div class="form-group form-group-year">
				                    <label class="form-label" for="defendant-1-date-of-birth-year">
				                        Year
				                    </label>
				                    <input class="form-control" id="defendant-1-date-of-birth-year" max="2018" min="1900" name="defendants[0][date_of_birth][year]" pattern="[0-9]*" type="number" value="{{data['defendants'][0]['date_of_birth']['year']}}">
				                </div>
				            </div>
				        </fieldset>
				    </div>

				    <div class="form-group">
				        <fieldset>
				            <div class="multiple-choice">
				                <input id="defendant-1-order-judicial-apportionment" name="defendants[0][order_judicial_apportionment]" type="checkbox" value="yes" {% if data['defendants'][0]['order_judicial_apportionment'][1] == 'yes' -%}checked="checked"{%- endif %}>
									<label for="defendant-1-order-judicial-apportionment">Order for judicial apportionment</label>
				                </input>
				            </div>
				        </fieldset>
				    </div>

					<div class="form-group">
						<details>
							<summary>
								<span class="summary">Help with judicial apportionment</span>
							</summary>
							<div class="panel panel-border-narrow">
								<p>
								Judicial apportionment is when the defendant has applied for and received an order confirming they are not required to pay the full amount of their defence costs. If applicable, please ensure you upload a copy of the order to your claim.
								</p>
							</div>
						</details>
					</div>

				    <h3 class="heading-medium">
				        Representation order details
				    </h3>

				    <div id="child-list-item-row-1" class="form-section-compound child-list-item-row" data-item-number="1">

					    <h4 id="child-list-item-heading" class="heading-small child-list-item-heading">
					        Representation order
					    </h4>

					    <div class="form-group">
					        <fieldset>
					            <legend class="form-label">
					                Representation order date
					                <span class="form-hint">
					                    For example, 31 3 2017
					                </span>
					            </legend>
					            <div class="form-date">
					                <div class="form-group form-group-day">
					                    <label class="form-label" for="defendant-1-representation-order-1-date-day">
					                        Day
					                    </label>
					                    <input class="form-control" id="defendant-1-representation-order-1-date-day" max="31" min="1" name="defendants[0][representation_order][0][date][day]" pattern="[0-9]*" type="number" value="{{data['defendants'][0]['representation_order'][0]['date']['day']}}">
					                </div>
					                <div class="form-group form-group-month">
					                    <label class="form-label" for="defendant-1-representation-order-1-date-month">
					                        Month
					                    </label>
					                    <input class="form-control" id="defendant-1-representation-order-1-date-month" max="12" min="1" name="defendants[0][representation_order][0][date][month]" pattern="[0-9]*" type="number" value="{{data['defendants'][0]['representation_order'][0]['date']['month']}}">
					                </div>
					                <div class="form-group form-group-year">
					                    <label class="form-label" for="defendant-1-representation-order-1-date-year">
					                        Year
					                    </label>
					                    <input class="form-control" id="defendant-1-representation-order-1-date-year" max="2018" min="2010" name="defendants[0][representation_order][0][date][year]" pattern="[0-9]*" type="number" value="{{data['defendants'][0]['representation_order'][0]['date']['year']}}">
					                </div>
					            </div>
					        </fieldset>
					    </div>

					    <div class="form-group">
					        <label class="form-label-bold " for="defendant-1-representation-order-1-maat-reference">
					            MAAT Reference
					            <span class="form-hint">
					                For example 123456789
					            </span>
					        </label>
					        <input class="form-control" id="defendant-1-representation-order-1-maat-reference" name="defendants[0][representation_order][0][maat_reference]" type="text" value="{{data['defendants'][0]['representation_order'][0]['maat_reference']}}" autocomplete="off">
					    </div>

					</div>

				    <a id="add-link" class="add-child-list-item" href="#">
				    	Add another representation order
				    </a>

				    <hr>

				</div>

				<div class="form-section">
					<div class="form-group form-buttons">
						<input type="submit" class="button" value="Save and continue">
						<input type="button" id="add-button" class="button button-secondary add-list-item" value="Add another defendant">
						<input type="button" class="button button-tertiary" value="Save as draft">
						<!-- <a id="cancel" class="link-secondary">Cancel</a> -->
					</div>
				</div>

			</form>
<!--
		      <div class="form-section">
		      	<p class="heading-medium">The data:</p>
		        {{data|dump('\t')|safe}}
		      </div> -->
		</div>
	</div>
</main>

{% endblock %}