{% extends "../../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    	<a class="link-back" href="../">Back</a>

	    <h1 class="heading-xlarge">
	      Collections / Miller columns
	    </h1>

      <h2 class="heading-medium">Versions</h2>
      <ul class="list list-bullet">
        <li><a href="./version-0/">Version 0</a><br>Just get it working!</li>
        <li><a href="./version-1/">Version 1</a><br>Scheme 10 dummy data</li>
        <li><a href="./version-2/">Version 2</a><br>Scheme 10 preview data</li>
      </ul>

      <h2 class="heading-medium">Additional resources</h2>
      <ul class="list list-bullet">
        <li><a href="https://docs.publishing.service.gov.uk/apps/collections.html">Collections</a></li>
        <li><a href="https://www.gov.uk/browse/visas-immigration">Example miller columns</a></li>
  	    <li><a href="https://github.com/alphagov/collections">Collections on GitHub</a></li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}