{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block page_scripts %}
{% include "../includes/_page_scripts_case_details.html" %}
{% include "./includes/_page_scripts_case_details.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "./includes/_banner.html" %}

	<a class="link-back" href="{{links.previous}}">Back</a>

	<h1 class="heading-xlarge">
		Claim for advocate fees
	</h1>

	<div class="grid-row">
	    <div class="column-three-quarters">

	    	<form class="form" method="post">

				<h2 id="section-heading" class="heading-large">
					Case details
				</h2>

				<div class="form-section">

					{% include "./includes/_case_details.html" %}

				</div>

				<div class="form-section fx-case-details-trial">
					<h3 class="heading-medium" id="trial-details">
						Trial details
					</h3>
					{% include "./includes/_case_details_trial.html" %}
				</div>

				<div class="form-section fx-case-details-retrial">
					<h3 class="heading-medium" id="retrial-details">
						Retrial details
					</h3>
					{% include "./includes/_case_details_retrial.html" %}
				</div>

				<div class="form-section fx-case-details-cracked-trial">
					<h3 class="heading-medium" id="cracked-trial-details">
						Cracked trial details
					</h3>
					{% include "./includes/_case_details_cracked_trial.html" %}
				</div>

				<div class="form-section fx-case-details-cracked-before-retrial">
					<h3 class="heading-medium" id="cracked-before-retrial-details">
						Cracked before retrial details
					</h3>
					{% include "./includes/_case_details_cracked_before_retrial.html" %}
				</div>

				{% include "./includes/_form_actions.html" %}

			</form>

			{% include "./includes/_help.html" %}

	    </div>

	    {% include "./includes/_sidebar.html" %}

  	</div>

</main>

{% endblock %}