{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "./includes/_banner.html" %}

  	<div class="grid-row">
	    <div class="column-two-thirds">

	    	<a class="link-back" href="{{links.previous}}">Back</a>

	    	<form class="form" method="post">

				<h1 class="heading-xlarge">
					Claim for advocate fees
				</h1>

				<h2 class="heading-large">
					Offence details
				</h2>

				{% include "./includes/_form_actions.html" %}

			</form>

			{% include "./includes/_help.html" %}

	    </div>
  	</div>

</main>

{% endblock %}