{% extends "../../../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block page_scripts %}
{% include "./includes/_page_scripts.html" %}
{% endblock %}

{% block page_styles %}
{% include "./includes/_page_styles.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

    	<a class="link-back" href="../">Back</a>

	    <h1 class="heading-xlarge">
	      Multiple items – Stacked
	    </h1>

	    <p>
	    	<a href="https://dwp-patterns.herokuapp.com/additemstoalist">https://dwp-patterns.herokuapp.com/additemstoalist</a>
	    </p>

		<form>
			<div class="list-item-wrapper-vertical">
				<div id="item-row" class="grid-row">
					
					<div class="column-two-thirds">
						<div class="form-group-compound">
							<h2 class="heading-medium">Item 1</h2>

							<div class="form-group">
								<label class="form-label-bold" for="field-1">
									Field label
                					<span class="form-hint">Something...</span>
								</label>

								<input type="text" class="form-control" id="field-1" name="field-1">
							</div>

							<div class="form-group">
								<label class="form-label-bold" for="field-2">
									Field label
                					<span class="form-hint">Something...</span>
								</label>

								<input type="text" class="form-control" id="field-2" name="field-2">
							</div>

							<div class="form-group">
								<label class="form-label-bold" for="field-3">
									Field label
                					<span class="form-hint">Something...</span>
								</label>

								<input type="text" class="form-control" id="field-3" name="field-3">
							</div>
						</div>
					</div>

					<div class="column-one-third">
					</div>

				</div>

				<hr />

				<div class="grid-row">
					<div class="column-two-thirds">
						<div class="form-group">
							<button id="add-button" class="button button-secondary button-add-another-vertical">Add another</button>
						</div>
					</div>
				</div>

				<div class="grid-row">
					<div class="column-two-thirds">
						<div class="form-group">
							<button type="submit" class="button">Save and continue</button>
							<button type="submit" class="button button-tertiary">Cancel</button>
						</div>
					</div>
				</div>

			</div>
		</form>

    </div>
  </div>
</main>

{% endblock %}