{% if data['miscellaneous_fee_1_type'].length -%}
<table class="summary">
	<tbody>
		<tr>
			<th class="bold" scope="row">
				Fee 1
			</th>
			<td>
				<table class="nested-summary">
					<tbody>
						<tr>
							<th class="bold" scope="row">
								Type of fee
							</th>
							<td>{{data['miscellaneous_fee_1_type']|replace('_',' ')|capitalize}}</td>
						</tr>
						<tr>
							<th class="bold" scope="row">Date of hearing</th>
							<td>
								{% if data['miscellaneous_fee_1_date_day'].length and data['miscellaneous_fee_1_date_month'] and data['miscellaneous_fee_1_date_year'] -%}

									{{data['miscellaneous_fee_1_date_day']}}/{{data['miscellaneous_fee_1_date_month']}}/{{data['miscellaneous_fee_1_date_year']}}

								{%- endif %}
							</td>
						</tr>
						<tr>
							<th class="bold" scope="row">
								Net amount
							</th>
							<td>&pound;{{data['miscellaneous_fee_1_net_amount']|numeral('0,0.00')}}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
{% else %}
<p>There are no miscellaneous fees for this claim.</p>
{%- endif %}