{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "./includes/_banner.html" %}

	<div class="grid-row">
		<div class="column-full">

			<a class="link-back" href="{{links.previous}}">Back</a>

			{% include "./includes/_page_heading.html" %}

			<div id="form-content" class="grid-row">
				<div class="column-two-thirds">

					<h2 id="section-heading" class="heading-large">
						Graduated fees
					</h2>

					<p>All fees should be entered exclusive of <abbr title="Value Added Tax">VAT</abbr>.</p>

					<p>Check the <a href="https://www.gov.uk/government/publications/graduated-fee-calculators" target="_blank">graduated fee calculators</a> <span class="visually-hidden">opens in new window</span> for help</p>

					<form class="form" method="post">

						<div class="form-section">

							{% include "./includes/_advocate_category.html" %}

						</div>

						<div class="form-section">

							{% include "./includes/_graduated_fees_additional.html" %}

						</div>

						{% if data['fee_scheme_version'] != 10 -%}
						<div class="form-section">

							{% include "./includes/_graduated_fees_witnesses.html" %}

						</div>
						{%- endif %}


						{% if data['fee_scheme_version'] != 10 or (data['offence_class'] == 6 or data['offence_class'] == 9) -%}
						<div class="form-section">

							{% include "./includes/_graduated_fees_prosecution_evidence.html" %}

						</div>
						{%- endif %}

						{% include "./includes/_form_actions.html" %}

					</form>

					{% include "./includes/_help.html" %}

				</div>

				{% include "./includes/_sidebar.html" %}

			</div>

			<!-- <p><a href="./fees-v2">Version 2</a></p> -->

		</div>
	</div>

</main>

{% endblock %}
