<script type="text/javascript">
// $(document).ready(function(){
//     var next = 1;
//     $(".add-more").click(function(e){
//         e.preventDefault();
//         var addto = "#field" + next;
//         var addRemove = "#field" + (next);
//         next = next + 1;
        
//         var newIn = '<input autocomplete="off" class="form-control" id="field' + next + '" name="field' + next + '" type="text">';

//         var newInput = $(newIn);
        
//         var removeBtn = '<button id="remove' + (next - 1) + '" class="button button-tertiary" >remove</button></div><div id="field">';
        
//         var removeButton = $(removeBtn);
        
//         $(addto).after(newInput);

//         $(addRemove).after(removeButton);
        
//         $("#field" + next).attr('data-source',$(addto).attr('data-source'));
        
//         $("#count").val(next);
        
//         $('.remove-me').click(function(e){
//             e.preventDefault();
//             var fieldNum = this.id.charAt(this.id.length-1);
//             var fieldID = "#field" + fieldNum;
//             $(this).remove();
//             $(fieldID).remove();
//         });
//     });
     
// });

$(document).ready(function(){
    var next = 1;
    $(".add-more").click(function(e){
        e.preventDefault();

        var addto = $(this).parents('.list-item-wrapper');

        var addRemove = "#field-" + (next);
        
        next = next + 1;

		var newIn =
		'<div class="grid-row">' +
			'<div class="column-one-third">' +
				'<div class="form-group">' +
					'<label class="form-label-bold" for="field-' + next + '">' +
						'Label ' + next +
						'<span class="form-hint">Something...</span>' +
					'</label>' +
					'<input class="form-control form-control-2-3" id="field-' + next + '" name="field_' + next + '" type="text" autocomplete="off">' +
				'</div>' +
			'</div>' +
		'</div>' +
		'<hr>';


        // var newInput = $(newIn);
        
        var removeBtn = '<button id="remove' + (next - 1) + '" class="button button-tertiary" >remove</button>';
        
        var removeButton = $(removeBtn);
        
        //$(addto).after(newInput);
        
		$('.button-row').before(newIn);

        // $(addRemove).before(removeButton);
        
        // $("#field" + next).attr('data-source',$(addto).attr('data-source'));
        
        //$("#count").val(next);
        
        $('.remove-me').click(function(e){
            e.preventDefault();
            var fieldNum = this.id.charAt(this.id.length-1);
            var fieldID = "#field" + fieldNum;
            $(this).remove();
            $(fieldID).remove();
        });
    });
     
});
</script>