{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main class="elements-index" id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Caseworker</span>
				Prototypes
			</h1>

			<p class="lede">
			Something something something
			</p>

			<ul>
				<li>
					<a href="./version-0/">Version 0</a>
					<ul class="list list-bullet">
						<li>Existing flow, updated design</li>
					</ul>
				</li>
				<li>
					<a href="./version-1/">Version 1</a>
					<ul class="list list-bullet">
						<li>Claim allocation</li>
					</ul>
				</li>
				<li>
					<a href="./version-2/">Version 2</a>
					<ul class="list list-bullet">
						<li>Claim assessement decision – Conditional reveal</li>
					</ul>
				</li>
				<li>
					<a href="./version-3/">Version 3</a>
					<ul class="list list-bullet">
						<li>Claim travel assessment (v1) – Error states</li>
					</ul>
				</li>
				<li>
					<a href="./version-4/">Version 4</a>
					<ul class="list list-bullet">
						<li>Claim travel assessment (v2) – Status flags</li>
					</ul>
				</li>
				<li>
					<a href="./version-5/">Version 5</a>
					<ul class="list list-bullet">
						<li>Claim travel assessment (v3) – Summary of costs</li>
					</ul>
				</li>
			</ul>

		</div>
	</div>

</main>

{% endblock %}