{% extends "../../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    	<a class="link-back" href="../">Back</a>

	    <h1 class="heading-xlarge">
	      Miller columns
	    </h1>

      <p><a href="https://docs.publishing.service.gov.uk/apps/collections.html">Collections</a></p>
      <p><a href="https://www.gov.uk/browse/visas-immigration">Example miller columns</a></p>
	    <p><a href="https://github.com/alphagov/collections">Collections on GitHub</a></p>

    </div>
  </div>
</main>

{% endblock %}