{% extends "../../../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}
<main class="content browse" id="content" role="main">

    <a class="link-back" href="../">Back</a>

    <div aria-busy="false" class="browse-panes root subsection" data-module="track-click">
        <div class="subsection-pane pane" id="subsection" style="">
            <div class="pane-inner a-to-z">
                <h1 tabindex="-1">
                    Benefits entitlement
                </h1>
                <p class="sort-order">
                    A to Z
                </p>
                <ul>
                    <li>
                        <a data-track-action="1.1" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/social-security-child-support-tribunal" data-track-options='{"dimension28":"31","dimension29":"Appeal to the Social Security and Child Support Tribunal"}' href="/social-security-child-support-tribunal">
                            Appeal to the Social Security and Child Support Tribunal
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.2" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/apply-universal-credit" data-track-options='{"dimension28":"31","dimension29":"Apply for Universal Credit"}' href="/apply-universal-credit">
                            Apply for Universal Credit
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.3" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/benefit-cap" data-track-options='{"dimension28":"31","dimension29":"Benefit cap"}' href="/benefit-cap">
                            Benefit cap
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.4" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/benefit-cap-calculator" data-track-options='{"dimension28":"31","dimension29":"Benefit cap calculator"}' href="/benefit-cap-calculator">
                            Benefit cap calculator
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.5" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/benefit-fraud" data-track-options='{"dimension28":"31","dimension29":"Benefit fraud"}' href="/benefit-fraud">
                            Benefit fraud
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.6" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/benefit-overpayments" data-track-options='{"dimension28":"31","dimension29":"Benefit overpayments"}' href="/benefit-overpayments">
                            Benefit overpayments
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.7" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/benefits-and-prison" data-track-options='{"dimension28":"31","dimension29":"Benefits and prison"}' href="/benefits-and-prison">
                            Benefits and prison
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.8" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/benefits-calculators" data-track-options='{"dimension28":"31","dimension29":"Benefits calculators"}' href="/benefits-calculators">
                            Benefits calculators
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.9" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/report-benefits-change-circumstances" data-track-options='{"dimension28":"31","dimension29":"Benefits: report a change in your circumstances"}' href="/report-benefits-change-circumstances">
                            Benefits: report a change in your circumstances
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.10" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/bereavement-support-payment" data-track-options='{"dimension28":"31","dimension29":"Bereavement Support Payment"}' href="/bereavement-support-payment">
                            Bereavement Support Payment
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.11" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/mandatory-reconsideration" data-track-options='{"dimension28":"31","dimension29":"Challenge a benefit decision (mandatory reconsideration)"}' href="/mandatory-reconsideration">
                            Challenge a benefit decision (mandatory reconsideration)
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.12" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/claim-benefits-abroad" data-track-options='{"dimension28":"31","dimension29":"Claiming benefits if you live, move or travel abroad"}' href="/claim-benefits-abroad">
                            Claiming benefits if you live, move or travel abroad
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.13" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/complain-independent-case-examiner" data-track-options='{"dimension28":"31","dimension29":"Complain to the Independent Case Examiner"}' href="/complain-independent-case-examiner">
                            Complain to the Independent Case Examiner
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.14" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/employment-support-allowance" data-track-options='{"dimension28":"31","dimension29":"Employment and Support Allowance (ESA)"}' href="/employment-support-allowance">
                            Employment and Support Allowance (ESA)
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.15" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/help-care-support" data-track-options='{"dimension28":"31","dimension29":"Find out about changes to care and support"}' href="/help-care-support">
                            Find out about changes to care and support
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.16" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/fraud-error-prevention-centres" data-track-options='{"dimension28":"31","dimension29":"Fraud and Error Prevention Service centres"}' href="/fraud-error-prevention-centres">
                            Fraud and Error Prevention Service centres
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.17" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/short-term-benefit-advance" data-track-options='{"dimension28":"31","dimension29":"Get an advance on your first benefit payment"}' href="/short-term-benefit-advance">
                            Get an advance on your first benefit payment
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.18" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/help-nhs-costs" data-track-options='{"dimension28":"31","dimension29":"Get help with NHS prescriptions and health costs"}' href="/help-nhs-costs">
                            Get help with NHS prescriptions and health costs
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.19" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/moving-from-benefits-to-work" data-track-options='{"dimension28":"31","dimension29":"Help with moving from benefits to work"}' href="/moving-from-benefits-to-work">
                            Help with moving from benefits to work
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.20" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/dwp-visit" data-track-options='{"dimension28":"31","dimension29":"Home visit to check your benefit payment"}' href="/dwp-visit">
                            Home visit to check your benefit payment
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.21" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/financial-help-after-fire" data-track-options='{"dimension28":"31","dimension29":"House fires: financial help and fire safety"}' href="/financial-help-after-fire">
                            House fires: financial help and fire safety
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.22" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/how-to-have-your-benefits-paid" data-track-options='{"dimension28":"31","dimension29":"How and when your benefits are paid"}' href="/how-to-have-your-benefits-paid">
                            How and when your benefits are paid
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.23" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/income-support" data-track-options='{"dimension28":"31","dimension29":"Income Support"}' href="/income-support">
                            Income Support
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.24" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/jobseekers-allowance" data-track-options="{&quot;dimension28&quot;:&quot;31&quot;,&quot;dimension29&quot;:&quot;Jobseeker's Allowance (JSA)&quot;}" href="/jobseekers-allowance">
                            Jobseeker's Allowance (JSA)
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.25" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/national-benefit-fraud-hotline" data-track-options='{"dimension28":"31","dimension29":"National Benefit Fraud Hotline"}' href="/national-benefit-fraud-hotline">
                            National Benefit Fraud Hotline
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.26" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/pension-credit" data-track-options='{"dimension28":"31","dimension29":"Pension Credit"}' href="/pension-credit">
                            Pension Credit
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.27" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/report-benefit-fraud" data-track-options='{"dimension28":"31","dimension29":"Report benefit fraud"}' href="/report-benefit-fraud">
                            Report benefit fraud
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.28" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/sign-in-universal-credit" data-track-options='{"dimension28":"31","dimension29":"Sign in to your Universal Credit account"}' href="/sign-in-universal-credit">
                            Sign in to your Universal Credit account
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.29" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/simple-payment" data-track-options='{"dimension28":"31","dimension29":"Simple Payment for benefits, pensions and child maintenance"}' href="/simple-payment">
                            Simple Payment for benefits, pensions and child maintenance
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.30" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/universal-credit" data-track-options='{"dimension28":"31","dimension29":"Universal Credit"}' href="/universal-credit">
                            Universal Credit
                        </a>
                    </li>
                    <li>
                        <a data-track-action="1.31" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/work-health-programme" data-track-options='{"dimension28":"31","dimension29":"Work and Health Programme"}' href="/work-health-programme">
                            Work and Health Programme
                        </a>
                    </li>
                </ul>
                <div class="detailed-guidance">
                    <h2>
                        Detailed guidance
                    </h2>
                    <ul>
                        <li>
                            <a data-track-action="2.1" data-track-category="thirdLevelBrowseLinkClicked" data-track-label="/topic/benefits-credits/universal-credit" data-track-options='{"dimension28":"1","dimension29":"Universal Credit"}' href="/topic/benefits-credits/universal-credit">
                                Universal Credit
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section-pane pane" id="section" style="">
            <div class="pane-inner alphabetical" style="">
                <h1 tabindex="-1">
                    Benefits
                </h1>
                <p class="sort-order" style="">
                    A to Z
                </p>
                <ul>
                    <li class="active">
                        <a class="" data-track-action="1" data-track-category="secondLevelBrowseLinkClicked" data-track-label="/browse/benefits/entitlement" data-track-options='{"dimension28":"9","dimension29":"Benefits entitlement"}' href="/browse/benefits/entitlement">
                            <h3>
                                Benefits entitlement
                            </h3>
                            <p>
                                Includes when and how benefit payments are made, benefits calculators and benefit fraud
                            </p>
                        </a>
                    </li>
                    <li class="">
                        <a data-track-action="2" data-track-category="secondLevelBrowseLinkClicked" data-track-label="/browse/benefits/families" data-track-options='{"dimension28":"9","dimension29":"Benefits for families"}' href="/browse/benefits/families">
                            <h3>
                                Benefits for families
                            </h3>
                            <p>
                                Includes Child Trust Funds, childcare and the Sure Start Maternity Grant
                            </p>
                        </a>
                    </li>
                    <li class="">
                        <a data-track-action="3" data-track-category="secondLevelBrowseLinkClicked" data-track-label="/browse/benefits/disability" data-track-options='{"dimension28":"9","dimension29":"Carers and disability benefits"}' href="/browse/benefits/disability">
                            <h3>
                                Carers and disability benefits
                            </h3>
                            <p>
                                Includes Disability Living Allowance, Carer's Allowance and Employment and Support Allowance
                            </p>
                        </a>
                    </li>
                    <li class="">
                        <a data-track-action="4" data-track-category="secondLevelBrowseLinkClicked" data-track-label="/browse/benefits/child" data-track-options='{"dimension28":"9","dimension29":"Child Benefit"}' href="/browse/benefits/child">
                            <h3>
                                Child Benefit
                            </h3>
                            <p>
                                Information about eligibility, claiming and when Child Benefit stops
                            </p>
                        </a>
                    </li>
                    <li class="">
                        <a data-track-action="5" data-track-category="secondLevelBrowseLinkClicked" data-track-label="/browse/benefits/bereavement" data-track-options='{"dimension28":"9","dimension29":"Death and benefits"}' href="/browse/benefits/bereavement">
                            <h3>
                                Death and benefits
                            </h3>
                            <p>
                                Includes Widowed Parent's Allowance, Bereavement Payment, Funeral Expenses Payment
                            </p>
                        </a>
                    </li>
                    <li class="">
                        <a data-track-action="6" data-track-category="secondLevelBrowseLinkClicked" data-track-label="/browse/benefits/heating" data-track-options='{"dimension28":"9","dimension29":"Heating and housing benefits"}' href="/browse/benefits/heating">
                            <h3>
                                Heating and housing benefits
                            </h3>
                            <p>
                                Includes Winter Fuel Payment and Cold Weather Payment
                            </p>
                        </a>
                    </li>
                    <li class="">
                        <a data-track-action="7" data-track-category="secondLevelBrowseLinkClicked" data-track-label="/browse/benefits/jobseekers-allowance" data-track-options="{&quot;dimension28&quot;:&quot;9&quot;,&quot;dimension29&quot;:&quot;Jobseeker's Allowance and low income benefits&quot;}" href="/browse/benefits/jobseekers-allowance">
                            <h3>
                                Jobseeker's Allowance and low income benefits
                            </h3>
                            <p>
                                Includes Income Support, Budgeting Loans and Pension Credit
                            </p>
                        </a>
                    </li>
                    <li class="">
                        <a data-track-action="8" data-track-category="secondLevelBrowseLinkClicked" data-track-label="/browse/benefits/tax-credits" data-track-options='{"dimension28":"9","dimension29":"Tax credits"}' href="/browse/benefits/tax-credits">
                            <h3>
                                Tax credits
                            </h3>
                            <p>
                                Includes Working Tax Credit, Child Tax Credit and when tax credits stop
                            </p>
                        </a>
                    </li>
                    <li class="">
                        <a data-track-action="9" data-track-category="secondLevelBrowseLinkClicked" data-track-label="/browse/benefits/universal-credit" data-track-options='{"dimension28":"9","dimension29":"Universal Credit"}' href="/browse/benefits/universal-credit">
                            <h3>
                                Universal Credit
                            </h3>
                            <p>
                                Includes applying, managing your claim, housing, getting back into work and signing into your account
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pane root-pane" id="root" style="">
            <h1 class="visuallyhidden" tabindex="-1">
                All categories
            </h1>
            <ul>
                <li class="active">
                    <a class="" data-track-action="1" data-track-category="firstLevelBrowseLinkClicked" data-track-label="/browse/benefits" data-track-options='{"dimension28":"16","dimension29":"Benefits"}' href="/browse/benefits">
                        Benefits
                    </a>
                </li>
                <li class="">
                    <a data-track-action="2" data-track-category="firstLevelBrowseLinkClicked" data-track-label="/browse/births-deaths-marriages" data-track-options='{"dimension28":"16","dimension29":"Births, deaths, marriages and care"}' href="/browse/births-deaths-marriages">
                        Births, deaths, marriages and care
                    </a>
                </li>
                <li class="">
                    <a data-track-action="3" data-track-category="firstLevelBrowseLinkClicked" data-track-label="/browse/business" data-track-options='{"dimension28":"16","dimension29":"Business and self-employed"}' href="/browse/business">
                        Business and self-employed
                    </a>
                </li>
                <li class="">
                    <a data-track-action="4" data-track-category="firstLevelBrowseLinkClicked" data-track-label="/browse/childcare-parenting" data-track-options='{"dimension28":"16","dimension29":"Childcare and parenting"}' href="/browse/childcare-parenting">
                        Childcare and parenting
                    </a>
                </li>
                <li class="">
                    <a data-track-action="5" data-track-category="firstLevelBrowseLinkClicked" data-track-label="/browse/citizenship" data-track-options='{"dimension28":"16","dimension29":"Citizenship and living in the UK"}' href="/browse/citizenship">
                        Citizenship and living in the UK
                    </a>
                </li>
                <li class="">
                    <a data-track-action="6" data-track-category="firstLevelBrowseLinkClicked" data-track-label="/browse/justice" data-track-options='{"dimension28":"16","dimension29":"Crime, justice and the law"}' href="/browse/justice">
                        Crime, justice and the law
                    </a>
                </li>
                <li class="">
                    <a data-track-action="7" data-track-category="firstLevelBrowseLinkClicked" data-track-label="/browse/disabilities" data-track-options='{"dimension28":"16","dimension29":"Disabled people"}' href="/browse/disabilities">
                        Disabled people
                    </a>
                </li>
                <li class="">
                    <a data-track-action="8" data-track-category="firstLevelBrowseLinkClicked" data-track-label="/browse/driving" data-track-options='{"dimension28":"16","dimension29":"Driving and transport"}' href="/browse/driving">
                        Driving and transport
                    </a>
                </li>
                <li class="">
                    <a data-track-action="9" data-track-category="firstLevelBrowseLinkClicked" data-track-label="/browse/education" data-track-options='{"dimension28":"16","dimension29":"Education and learning"}' href="/browse/education">
                        Education and learning
                    </a>
                </li>
                <li class="">
                    <a data-track-action="10" data-track-category="firstLevelBrowseLinkClicked" data-track-label="/browse/employing-people" data-track-options='{"dimension28":"16","dimension29":"Employing people"}' href="/browse/employing-people">
                        Employing people
                    </a>
                </li>
                <li class="">
                    <a data-track-action="11" data-track-category="firstLevelBrowseLinkClicked" data-track-label="/browse/environment-countryside" data-track-options='{"dimension28":"16","dimension29":"Environment and countryside"}' href="/browse/environment-countryside">
                        Environment and countryside
                    </a>
                </li>
                <li class="">
                    <a data-track-action="12" data-track-category="firstLevelBrowseLinkClicked" data-track-label="/browse/housing-local-services" data-track-options='{"dimension28":"16","dimension29":"Housing and local services"}' href="/browse/housing-local-services">
                        Housing and local services
                    </a>
                </li>
                <li class="">
                    <a data-track-action="13" data-track-category="firstLevelBrowseLinkClicked" data-track-label="/browse/tax" data-track-options='{"dimension28":"16","dimension29":"Money and tax"}' href="/browse/tax">
                        Money and tax
                    </a>
                </li>
                <li class="">
                    <a data-track-action="14" data-track-category="firstLevelBrowseLinkClicked" data-track-label="/browse/abroad" data-track-options='{"dimension28":"16","dimension29":"Passports, travel and living abroad"}' href="/browse/abroad">
                        Passports, travel and living abroad
                    </a>
                </li>
                <li class="">
                    <a data-track-action="15" data-track-category="firstLevelBrowseLinkClicked" data-track-label="/browse/visas-immigration" data-track-options='{"dimension28":"16","dimension29":"Visas and immigration"}' href="/browse/visas-immigration">
                        Visas and immigration
                    </a>
                </li>
                <li class="">
                    <a data-track-action="16" data-track-category="firstLevelBrowseLinkClicked" data-track-label="/browse/working" data-track-options='{"dimension28":"16","dimension29":"Working, jobs and pensions"}' href="/browse/working">
                        Working, jobs and pensions
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}
