{% extends "layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main class="elements-index" id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
			Prototypes
			</h1>

			<p class="lede">
			Something something something
			</p>

		</div>
	</div>

	<div class="grid-row">
		<div class="column-one-third">

			<h2 class="heading-medium">
				Providers
			</h2>

			<p><a href="./providers/">See more details</a></p>

			<p>Advocates, litigators, solicitor advocates, billing clerks and costs draughtspeople</p>

			<ul class="list list-bullet">
				<li><a href="./providers/version-0/">Version 0</a> – Existing flow, updated design</li>
				<li><a href="./providers/version-1/">Version 1</a> – Splitting pages</li>
				<li><!-- <a href="./providers/version-2/"> -->Version 2<!-- </a> --> – Defendant data</li>
				<li><!-- <a href="./providers/version-3/"> -->Version 3<!-- </a> --> – <abbr onclick="" title="Digital Case System" tabindex="-1">DCS</abbr> supporting evidence</li>
				<li><a href="./providers/version-4/">Version 4</a> – Fee reform</li>
				<li><a href="./providers/version-5/">Version 5</a> – Claim list &amp; summary (v1)</li>
				<li><a href="./providers/version-6/">Version 6</a> – Travel expenses (v1)</li>
				<li><a href="./providers/version-7/">Version 7</a> – Travel expenses (v2)</li>
				<li><a href="./providers/version-8/">Version 8</a> – Accessibility updates</li>
				<li><a href="./providers/version-9/">Version 9</a> – Miscellaneous claims</li>
				<li><!-- <a href="./providers/version-10/"> -->Version 10<!-- </a> --> – Travel expenses (v3)</li>
				<li><!-- <a href="./providers/version-11/"> -->Version 11<!-- </a> --> – Task list</li>
				<li><!-- <a href="./providers/version-12/"> -->Version 12<!-- </a> --> – Claim list &amp; summary (v2)</li>
			</ul>

		</div>
		<div class="column-one-third">

			<h2 class="heading-medium">
				Caseworkers
			</h2>

			<p><a href="./caseworkers/">See more details</a></p>

			<p>Caseworkers and senior caseworkers.</p>

			<ul class="list list-bullet">
				<li><a href="./caseworkers/version-0/">Version 0</a> – Existing flow, updated design</li>
				<li><a href="./caseworkers/version-1/">Version 1</a> – Claim allocation</li>
				<li><a href="./caseworkers/version-2/">Version 2</a> – Claim assessment decisions</li>
				<li><a href="./caseworkers/version-3/">Version 3</a> – Claim travel assessment (v1)</li>
				<li><a href="./caseworkers/version-4/">Version 4</a> – Claim travel assessment (v2)</li>
				<li><a href="./caseworkers/version-5/">Version 5</a> – Claim travel assessment (v3)</li>
			</ul>

		</div>
		<div class="column-one-third">

			<h2 class="heading-medium">
				Admins
			</h2>

			<p><a href="./admins/">See more details</a></p>

			<p>Senior caseworkers</p>

			<ul class="list list-bullet">
				<li><a href="./admins/version-0/">Version 0</a> – Existing flow, updated design</li>
				<li><a href="./admins/version-1/">Version 1</a> – Provider add/edit</li>
			</ul>

		</div>
	</div>

	<div class="grid-row">
		<div class="column-one-third">

			<h2 class="heading-medium"><a href="./playground/">Playground</a></h2>
			<p>
				Testing ground for interaction design.
			</p>

		</div>
		<!-- <div class="column-one-third">

			<h2 class="heading-medium"><a href="./"></a></h2>
			<p>
			Lorem ipsum dolor sit emet.
			</p>

		</div> -->
		<!-- <div class="column-one-third">

			<h2 class="heading-medium"><a href="./"></a></h2>
			<p>
			Lorem ipsum dolor sit emet.
			</p>

		</div> -->
	</div>

	<div class="grid-row">
		<div class="column-full">
			<hr>
			<h3 class="heading-small">Looking for the styles?</h3>
			<p>
				The Sass files for <a href="https://github.com/alphagov/govuk_elements/tree/master/assets/sass" rel="external">all the examples can be found on GitHub</a>.
			</p>

			<h3 class="heading-small">Want to discuss these patterns?</h3>
			<p>
				<a href="https://paper.dropbox.com/doc/About-GOV.UK-Design-Patterns-hkou7bpzKya8Dadv24V1z" rel="external">
					Discuss GOV.UK Design Patterns
				</a>
			</p>
		</div>

	</div>

	<div class="grid-row">
		<div class="column-full">
			<hr>


			<h2 class="heading-medium">Examples and documentation</h2>

			<ul class="list list-bullet">
				<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
				<li><a href="https://mozilla.github.io/nunjucks/templating.html">Nunjucks</a></li>
				<li><a href="http://jinja.pocoo.org/docs/2.9/templates/#call">Alternative Nunjucks documentation</a></li>
				<li><a href="https://expressjs.com/">Express JS</a></li>
			</ul>

      		<h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

			<ul class="list list-bullet">
				<li><a href="https://paper.dropbox.com/folder/show/GOV.UK-Design-Patterns-e.iX7ZavGxujPFwhjOZcQs9BGH2vBGRBJNqRyrSa5x73JE6s28CX" target="_blank">GOV.UK Design Patterns</a> (Dropbox Paper)</li>
				<li><a href="http://rural-payments-styleguide.herokuapp.com/" target="_blank">RPA styleguide</a></li>
				<li><a href="https://home-office-digital-patterns.herokuapp.com/patterns" target="_blank">Home Office patterns</a></li>
				<li><a href="https://onsdigital.github.io/ons-pattern-library-starter/" target="_blank">ONS design patterns</a></li>
				<li><a href="https://style.ons.gov.uk/category/data-visualisation/" target="_blank">ONS data visualisation</a></li>
				<li><a href="https://dwp-patterns.herokuapp.com/" target="_blank">DWP patterns</a></li>
				<li><a href="http://land-registry-elements.herokuapp.com/" target="_blank">Land Registry elements</a></li>
			</ul>

		</div>
	</div>

	<div class="grid-row">
		<div class="column-full">
			<hr>
			<h3 class="heading-medium">Tools</h3>
			<ul class="list list-bullet">
				<li><a href="http://jsoneditoronline.org/" target="_blank" rel="external">JSON Editor</a></li>
				<li><a href="http://www.generatedata.com/" target="_blank">Generate Data</a></li>
				<li><a href="https://www.mockaroo.com/" target="_blank">Mockaroo</a></li>
				<li><a href="https://www.freemaptools.com/download-uk-postcode-lat-lng.htm" target="_blank">FreeMapTools – UK Postcodes</a></li>
				<li><a href="http://postcodes.io/" target="_blank">Postcodes.io</a></li>
				<li><a href="https://jakearchibald.github.io/svgomg/" target="_blank">SVGOMG</a></li>
				<li><a href="https://www.lists.design/" target="_blank">Lists data</a></li>
				<li><a href="https://developer.mozilla.org/en-US/" target="_blank">Mozilla Developer Docs (MDN)</a></li>
				<li><a href="https://thenounproject.com/" target="_blank">The Noun Project</a></li>
			</ul>
		</div>

	</div>


</main>

{% endblock %}