{% extends "layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main class="elements-index" id="content" role="main">

	<h1 class="heading-xlarge">
		<span class="heading-secondary">Gov.UK</span>
		Styles
	</h1>

	<div class="grid-row">
		<div class="column-full">

			<h1 class="heading-xlarge">
				<span class="heading-secondary">heading-secondary</span>
				heading-xlarge
			</h1>

			<h2 class="heading-large">heading-large</h2>

			<h3 class="heading-medium">heading-medium</h3>

			<h4 class="heading-small">heading-small</h4>

			<h5 class="heading-xsmall">heading-xsmall</h5>

			<hr>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-full">

			<label class="form-label">form-label</label>

			<label class="form-label-bold">
				form-label-bold
				<span class="form-hint">form-hint</span>
			</label>

			<hr>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-full">

			<p class="lede">lede</p>

			<p>paragraph</p>

			<p><em>emphesis</em></p>


			<p class="font-xsmall">font-xsmall</p>

			<!-- <p class="font-medium">font-medium</p>	
			
			<p class="font-large">font-large</p>

			<p class="font-xlarge">font-xlarge</p>

			<p class="font-xxlarge">font-xxlarge</p> -->



			<p class="bold">bold</p>

			<!-- <p class="bold-xsmall">bold-xsmall</p>

			<p class="bold-medium">bold-medium</p>	
			
			<p class="bold-large">bold-large</p>

			<p class="bold-xlarge">bold-xlarge</p>

			<p class="bold-xxlarge">bold-xxlarge</p> -->

			<div class="data">
				<span class="data-item bold-xxlarge">24</span>
				<span class="data-item bold-xsmall">Ministerial departments</span>
			</div>

			<hr>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-full">

			<a href="#">link</a><br><br>

			<a href="#" class="link-secondary">link-secondary</a>

			<hr>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-full">

			<div class="form-section">

				<div class="form-group" data-required="true" data-error="Choose a supplier number">
					<button class="button button-primary">button button-primary</button>
				</div>

				<div class="form-group" data-required="true" data-error="Choose a supplier number">
					<button class="button button-secondary">button button-secondary</button>
				</div>

				<div class="form-group" data-required="true" data-error="Choose a supplier number">
					<button class="button button-tertiary">button button-tertiary</button>
				</div>

				<div class="form-group" data-required="true" data-error="Choose a supplier number">
					<button class="button button-primary disabled">button button-primary disabled</button>
				</div>

				<div class="form-group" data-required="true" data-error="Choose a supplier number">
					<button class="button button-secondary disabled">button button-secondary disabled</button>
				</div>

				<div class="form-group" data-required="true" data-error="Choose a supplier number">
					<button class="button button-tertiary disabled">button button-tertiary disabled</button>
				</div>
			</div>

			<hr>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-full">

			<div class="form-section">

				<div class="form-group" data-required="true" data-error="Choose a supplier number">
					<button class="button button-start">button button-start</button>
				</div>

				<div class="form-group" data-required="true" data-error="Choose a supplier number">
					<button class="button button-start disabled">button button-start disabled</button>
				</div>

			</div>

			<hr>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-full">

			<table>
				<thead>
					<tr>
						<th scope="col">Month you apply</th>
						<th class="numeric" scope="col">Rate for vehicles</th>
						<th class="numeric" scope="col">Rate for bicycles</th>
						<th scope="col">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">January</th>
						<td class="numeric">£165.00</td>
						<td class="numeric">£85.00</td>
						<td><a href="#">Action</a></td>
					</tr>
					<tr>
						<th scope="row">February</th>
						<td class="numeric">£165.00</td>
						<td class="numeric">£85.00</td>
						<td><a href="#">Action</a></td>
					</tr>
					<tr>
						<th scope="row">March</th>
						<td class="numeric">£151.25</td>
						<td class="numeric">£77.90</td>
						<td><a href="#">Action</a></td>
					</tr>
					<tr>
						<th scope="row">April</th>
						<td class="numeric">£136.10</td>
						<td class="numeric">£70.10</td>
						<td><a href="#">Action</a></td>
					</tr>
				</tbody>
			</table>

			<hr>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-full">

			<table>
				<caption class="heading-small">Caption .heading-small</caption>
				<tbody>
					<tr>
						<td>First 6 weeks</td>
						<td>£109.80 per week</td>
					</tr>
					<tr>
						<td>Next 33 weeks</td>
						<td>£109.80 per week</td>
					</tr>
					<tr>
						<td>Total estimated pay</td>
						<td>£4,282.20</td>
					</tr>
					<tr>
						<td>Tell the mother’s employer</td>
						<td>28 days before they want to start maternity pay</td>
					</tr>
				</tbody>
			</table>

			<hr>
		</div>
	</div>

</main>

{% endblock %}