{% extends "../../../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

    	<a class="link-back" href="../">Back</a>

	    <h1 class="heading-xlarge">
	      <!-- <span class="heading-secondary">Accordion</span> -->
        Offence details
	    </h1>


      <div class="accordion">

        {% for item in items -%}
        <div class="accordion-section">
            
            <div class="accordion-section-header">
                <h2 class="heading-medium">{{item}} – Class name</h2>
            </div>
        
            <div class="accordion-section-body">

                <form method="get">
                    <input type="hidden" name="offence_class" value="{{item}}">

                    <div class="form-section">
                        <div class="form-group">
                            <fieldset>

                                <legend>
                                    <h3 class="heading-small">What is the category of offence?</h3>
                                </legend>

                                {% for category in range(1,20) -%}

                                <div class="multiple-choice">
                                    <input id="radio-{{loop.index}}" type="radio" name="offence_category" value="{{loop.index}}">
                                    <label for="radio-{{loop.index}}">{{loop.index}} – Category name</label>
                                </div>

                                {%- endfor %}

                                <p class="form-block bold">or</p>

                                <div class="multiple-choice">
                                    <input id="radio-{{loop.index}}-misc" type="radio" name="offence_category" value="379">
                                    <label for="radio-{{loop.index}}-misc">Miscellaneous/other</label>
                                </div>

                            </fieldset>
                        </div>
                    </div>

                    <div class="form-section">
                        <div class="form-group form-buttons">
                            <input type="submit" class="button" value="Save and continue">
                            <input type="submit" class="button button-tertiary" value="Save as draft">
                        </div>
                    </div>

                </form>

            </div>

        </div>
        {%- endfor %}	    

    </div>
  </div>
</main>

{% endblock %}

