{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "./includes/_banner.html" %}

	<div class="grid-row">
	    <div class="column-full">

	    	<a class="link-back" href="{{links.previous}}">Back</a>

	    	<form class="form" method="post">

				<h1 class="heading-xlarge">
					Claim for advocate fees
				</h1>

				<h2 id="section-heading" class="heading-large">
					Cost summary
				</h2>

				<div class="grid-row">

					<div class="column-one-quarter">
						<h3 class="heading-large">
							<span class="heading-secondary">
								{% if data['bill_type'] == "advocate_interim" -%}
									Interim fees
								{% else %}
									{% if data['fee_type'] == "graduated" -%}
										Graduated fees
									{% else %}
										Fixed fees
									{%- endif %}
								{%- endif %}
							</span>
							£999,999.00
						</h3>
						<a href="{{links.fees}}">
							Change fees
						</a>
					</div>

					{% if data['bill_type'] == "advocate_final" -%}
						<div class="column-one-quarter">
							<h3 class="heading-large">
								<span class="heading-secondary">Miscellaneous fees</span>
								£999,999.80
							</h3>
							<a href="{{links.fees}}">
								Change fees
							</a>
						</div>
					{%- endif %}

					<div class="column-one-quarter">
						<h3 class="heading-large">
							<span class="heading-secondary">Travel expenses</span>
							£999,999.00
						</h3>
						<a href="{{links.travel}}">
							Change expenses
						</a>
					</div>

					<!-- <div class="column-one-quarter">
						<h3 class="heading-large">
							<span class="heading-secondary">VAT</span>
							£199,999.80
						</h3>
						<p>&nbsp;</p>
					</div> -->

					<div class="column-one-quarter">
						<h3 class="heading-large">
							<span class="heading-secondary">Total claimed</span>
							£999,999.00
						</h3>
						<p class="font-grey">VAT £199,999.80</p>
					</div>

				</div>

				<div class="grid-row">
					<div class="column-full">
						<div class="form-section">
							<div class="form-group form-buttons">
								<input type="submit" class="button" value="Save and continue" formaction="{{links.next}}">
								<input type="submit" class="button button-tertiary" value="Save as draft" formaction="{{links.save}}">
								<a href="#noop" class="link-delete" role="button">Delete this claim</a>
							</div>
						</div>
					</div>
				</div>

				<div class="grid-row">
					<div class="column-full">

						<h2 class="heading-large">
							Claim summary
						</h2>

						<div class="form-section">
							<h3 class="heading-medium">
								Case details
							</h3>
						</div>

						<div class="form-section">
							<h3 class="heading-medium">
								Defendant details
							</h3>
						</div>

						<div class="form-section">
							<h3 class="heading-medium">
								Offence details
							</h3>
						</div>

						{% if data['bill_type'] == "advocate_interim" %}

							<div class="form-section">
								<h3 class="heading-medium">
									Interim fees
								</h3>
							</div>

						{% else %}

							{% if data['fee_type'] == "fixed" -%}

								<div class="form-section">
									<h3 class="heading-medium">
										Fixed fees
									</h3>
								</div>

							{% else %}

								<div class="form-section">
									<h3 class="heading-medium">
										Graduated fees
									</h3>
								</div>

							{%- endif %}

						{%- endif %}

						<div class="form-section">
							<h3 class="heading-medium">
								Miscellaneous fees
							</h3>
						</div>

						<div class="form-section">
							<h3 class="heading-medium">
								Travel expenses
							</h3>
						</div>

						<div class="form-section">
							<h3 class="heading-medium">
								Supporting evidence
							</h3>
						</div>

						<div class="form-section">
							<h3 class="heading-medium">
								Additional information
							</h3>
						</div>

					</div>
				</div>

				<div class="grid-row">
					<div class="column-full">
						<div class="form-section">
							<div class="form-group form-buttons">
								<input type="submit" class="button" value="Save and continue" formaction="{{links.next}}">
								<input type="submit" class="button button-tertiary" value="Save as draft" formaction="{{links.save}}">
								<a href="#noop" class="link-delete" role="button">Delete this claim</a>
							</div>
						</div>
					</div>
				</div>

			</form>

			{% include "./includes/_help.html" %}

	    </div>
	</div>
</main>

{% endblock %}