{% extends "../layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "./includes/_banner.html" %}

	{# include "./includes/_navigation.html" #}

	<div class="grid-row">
		<div class="column-full">

			<h1 class="heading-xlarge">
				Your claims
			</h1>

		</div>
	</div>

	<div class="grid-row">
		<div class="column-one-third">
	
			<h2 class="heading-large">
				<span class="heading-secondary">Total outstanding</span>
				£99,999.00
			</h2>

			<p>
				<a id="view-outstanding-claim-details" href="{{links.outstanding}}">View details <span class="visually-hidden">for total claims outstanding</span></a>
			</p>
		
		</div>
		<div class="column-one-third">
			
			<h2 class="heading-large">
				<span class="heading-secondary">Total authorised</span>
				£99,999.00
			</h2>

			<p>
				<a id="view-authorised-claims-details" href="{{links.authorised}}">View details <span class="visually-hidden">for total claims authorised</span></a>
			</p>

		</div>
		<div class="column-one-third">

			<h2 class="heading-large">
				<!-- <span class="heading-secondary">Create a claim</span> -->
				<a class="button button-start" href="{{links.start}}" role="button">Start now</a>
			</h2>

			<form id="upload-json" action="{{links.upload}}" method="post" enctype="multipart/form-data">
				<label class="form-hint">Or upload your claims in <abbr title="JavaScript Object Notation">JSON</abbr></label>
				<!-- <input id="file-uploader" type="submit" class="button button-tertiary" name="Choose file"> -->
				<a class="button button-tertiary" href="{{links.upload}}" role="button">Choose file</a>
			</form>

		</div>
	</div>

	<div class="grid-row">
		<div class="column-full">

			<h2 class="heading-large">
				Claims list
			</h2>

			<!-- <form class="form" action="{{links.search}}" method="post">

				<div class="form-section">

					<div class="form-group">
						<label class="form-label-bold" for="search-claims">
							Search
							<span class="form-hint">
								For example case number, defendant name, reference number
							</span>
						</label>
						<input class="form-control" id="search-claims" type="text" name="search_claims" value="{{ data['search_claims']}}">
					</div>

					<div class="form-group form-buttons">
						<input type="submit" class="button" value="Search claims">
					</div>
				</div>

			</form> -->

		</div>
	</div>

	<div class="grid-row">
		<div class="column-full">

			<div class="table-container">
				<table>
					<thead>
						<tr>
							<th scope="col">Case number</th>
							<th scope="col">Defendants</th>
							<th class="numeric" scope="col">Claimed</th>
							<th class="numeric" scope="col">Assessed</th>
							<th scope="col">Status</th>
							<th scope="col">Date submitted</th>
							<th scope="col">Messages</th>
						</tr>
					</thead>
					<tbody>
						<tr id="claim-12345">
							<th aria-label="Case number" scope="row">
								<a href="#noop">T20180101</a><br>
								<span class="font-xsmall">SW/T2018ABC</span>
							</th>
							<td aria-label="Defendants">Joseph Anderson</td>
							<td aria-label="Claimed amount" class="numeric">£0.00</td>
							<td aria-label="Assessed amount" class="numeric">&ndash;</td>
							<td aria-label="Claim status">
								<span class="status status-draft">Draft</span>
							</td>
							<td aria-label="Date submitted">&ndash;</td>
							<td aria-label="Messages">&ndash;</td>
						</tr>
						<tr id="claim-12346">
							<th aria-label="Case number" scope="row">
								<a href="#noop">A20180101</a>
							</th>
							<td aria-label="Defendants">Dee Fence, Jacqueline Weaver</td>
							<td aria-label="Claimed amount" class="numeric">£1,033.71</td>
							<td aria-label="Assessed amount" class="numeric">&ndash;</td>
							<td aria-label="Claim status">
								<span class="status status-submitted">Submitted</span>
							</td>
							<td aria-label="Date submitted">01/02/2018</td>
							<td aria-label="Messages">
								<a href="#">View (2 new)</a>
							</td>
						</tr>
						<tr id="claim-12347">
							<th aria-label="Case number" scope="row">
								<a href="#noop">S20180101</a>
							</th>
							<td aria-label="Defendants">Larry David</td>
							<td aria-label="Claimed amount" class="numeric">£804.00</td>
							<td aria-label="Assessed amount" class="numeric">£804.00</td>
							<td aria-label="Claim status">
								<span class="status status-authorised">Authorised</span>
							</td>
							<td aria-label="Date submitted">01/02/2018</td>
							<td aria-label="Messages" class="messages">
								<span class="none">No messages</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

</main>

{% endblock %}