<table class="summary">
    <tbody>
        <tr>
            <th class="bold" scope="row">
                Certified by
            </th>
            <td>{{claim.certification.certified_by}}</td>
        </tr>
        <tr>
            <th class="bold" scope="row">
                Date certified
            </th>
            <td>{{claim.certification.certified_date|date('DD/MM/YYYY')}} at {{claim.certification.certified_date|date('hh:mm a')}}</td>
        </tr>
        {% if claim.bill_type in ['advocate_final','advocate_interim'] -%}
        <tr>
            <th class="bold" scope="row">
                Reason
            </th>
            <td>{% if claim.certification.reason.length -%}{{claim.certification.reason}}{% else %}Not provided{%- endif %}</td>
        </tr>
        {%- endif %}
    </tbody>
</table>